mixin production-2()
    .production
        .production-inner.container 
            +catalog({title: 'Печатная продукция', catalogSlider: true})
            +order()
    .production-features.container
        .feature-item 
            .icon-wrapper
                .icon 
                    img(src="./img/home/hero/icon1.svg", alt="icon")
            p Работаем <br>с 2011
        .feature-item 
            .icon-wrapper
                .icon 
                    img(src="./img/home/hero/icon2.svg", alt="icon")
            p 225 пунктов <br>выдачи по РФ
        .feature-item 
            .icon-wrapper
                .icon 
                    img(src="./img/home/hero/icon3.svg", alt="icon")
            p Срочная печать <br>от 3 часов
        .feature-item 
            .icon-wrapper
                .icon 
                    img(src="./img/home/hero/icon4.svg", alt="icon")
            p Менеджер для каждого клиента