@use "src/scss/common/files/mixins" as *;
.request-modal {
  .modal-content-wrapper {
    @include size(width, 888);
    .modal-content {
      @include size(gap, 24);
      align-items: center;
      display: flex;
      .form {
        .title {
          @include size(margin-top, 12);
          @include body-l;
        }
        .policy {
          color: var(--txt-gray-color);
          @include body-s;
          @include size(margin-top, 24);
          a {
            color: var(--txt-gray-color);
            text-decoration: underline;
          }
        }
        .inputs {
          @include size(margin-top, 28);
          @include size(gap, 24);
          display: flex;
          flex-direction: column;
          @include size(width, 384);
          .input-wrapper {
            @include size(gap, 12);
            display: flex;
            flex-direction: column;
          }
        }
        .btn {
          @include size(height, 46);
          @include size(margin-top, 24);
          justify-content: center;
          @include body-mb;
        }
      }
      .image-wrapper {
        @include size(width, 204);
        @include size(height, 402);
        @include border-radius(20);
        border: 10px solid var(--gray-color);
        position: relative;
        overflow: hidden;
        background: var(--back-color);
        img {
          position: absolute;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
