mixin request-modal()
    .request-modal.modal
        .modal-content-wrapper
            .close-modal-wrapper
                button.btn.circle.sm.gray.close-modal 
                    <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9.24257 0.757359L4.99993 5M4.99993 5L0.757289 9.24264M4.99993 5L0.75729 0.757359M4.99993 5L9.24257 9.24264" stroke="#2C2C2C"/>
                    </svg>
            .modal-content 
                form.form
                    h3 Оставьте заявку
                    p.title Мы свяжемся с вами для обсуждения деталей
                    .inputs 
                        .input-wrapper 
                            p Ваше имя
                            .input__row
                                input(type="text" placeholder="Введите").custom-input.input.form__input-value.input__valid-name
                                .input__item-small
                        .input-wrapper 
                            p Номер телефона
                            .input__row
                                input(type="tel" placeholder='+7 (').custom-input.input.form__input-value.input__valid-phone
                                .input__item-small
                    p.policy Нажимая на кнопку, вы даете согласие на 
                        a(href="#" target="_blank")  обработку персональных данных
                    button.btn.primary Оставить заявку
                .image-wrapper 
                    img(src="./img/request/img.png", alt="request")