mixin header()
    header.header 
        .header-inner.container 
            a(href="#").logo
                img(src="./img/logo.png", alt="logo") 
            .header-content 
                .header-content-top 
                    .header-contacts 
                        .socials 
                            a(href="#" target='_blank').btn.social.tg
                                <svg width="21" height="18" viewBox="0 0 21 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M18.5292 0.176418C17.719 0.401687 8.56866 3.0491 1.1181 5.18949C0.525042 5.37733 0.0965808 5.85776 0.0125068 6.38581C-0.0715672 6.91387 0.278642 7.36705 0.750275 7.49972C1.15303 7.62288 5.19109 8.78837 5.19109 8.78837L5.31108 15.5509L9.48705 13.0909L6.19159 8.25212L14.4 5.31818L7.49671 9.78178L9.48705 12.7554C9.60379 12.9064 12.0401 16.6163 12.2152 16.8429C12.507 17.2206 12.9529 17.9568 13.2284 17.9949C13.7106 18.0616 14.2978 17.4682 14.6621 16.5067C15.0158 15.6111 17.4128 9.39896 20.4904 1.1222C20.8442 0.226683 20.0118 -0.293169 18.5292 0.176418Z" fill="#6ABFDA"/>
                                </svg>
                            a(href="#" target='_blank').btn.social.wa
                                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M9 0C4.02543 0 0 4.0232 0 9C0 10.8769 0.572369 12.613 1.58906 14.1047C1.62691 14.1608 1.65162 14.2247 1.66135 14.2916C1.67109 14.3586 1.66561 14.4269 1.64531 14.4914L0.73125 17.55L3.72656 16.5164C3.79059 16.4951 3.85859 16.4884 3.92553 16.497C3.99247 16.5055 4.05664 16.5289 4.11328 16.5656C5.51628 17.476 7.19585 18 9 18C13.9769 18 18 13.9769 18 9C18 4.02306 13.9769 0 9 0ZM5.31562 3.92344L6.95391 6.63048L6.27187 7.30548C6.20244 7.37554 6.15794 7.46647 6.14524 7.56429C6.13254 7.66211 6.15232 7.7614 6.20156 7.84687C7.24237 9.64927 8.47557 11.0515 10.2023 11.8125C10.2851 11.8493 10.377 11.8602 10.4661 11.8439C10.5551 11.8276 10.6372 11.7848 10.7016 11.7211L11.4258 10.9969L14.0695 12.6492C13.7768 13.3081 13.3951 13.7004 12.9586 13.9289C12.4529 14.1937 11.8353 14.2438 11.1305 14.0977C9.72082 13.8054 8.01807 12.6975 6.63047 11.2781C5.24287 9.8588 4.16906 8.13291 3.89531 6.72889C3.75844 6.02689 3.81891 5.42232 4.07812 4.94298C4.30132 4.53026 4.68045 4.17692 5.31562 3.92344Z" fill="#70C984"/>
                                </svg>
                        a(href="tel:+7 499 322 15 14").phone +7 499 322 15 14
                        a(href="mailto:info@printomat.ru").mail  
                            img(src="./img/mail.svg", alt="mail")
                            p info@printomat.ru
                        .clock  
                            img(src="./img/clock.svg", alt="clock")
                            p Пн-Пт 10:00-20:00
                    .features 
                        a(href="#").btn.gray Статус заказа 
                        a(href="#").btn.primary 
                            <svg width="14" height="18" viewBox="0 0 14 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_1955_3421)">
                                <rect width="14" height="18" fill="#2C2C2C"/>
                                <rect x="2.5" y="2.5" width="9" height="7" stroke="#F2DC00"/>
                                <line x1="2" y1="12.5" x2="6" y2="12.5" stroke="#F2DC00"/>
                                <line x1="8" y1="12.5" x2="12" y2="12.5" stroke="#F2DC00"/>
                                <line x1="2" y1="15.5" x2="12" y2="15.5" stroke="#F2DC00"/>
                                </g>
                                <defs>
                                <clipPath id="clip0_1955_3421">
                                <rect width="14" height="18" fill="white"/>
                                </clipPath>
                                </defs>
                            </svg>
                            p Онлайн-конструктор
                        a(href="#").btn.circle
                            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M7 7C8.933 7 10.5 5.433 10.5 3.5C10.5 1.567 8.933 0 7 0C5.067 0 3.5 1.567 3.5 3.5C3.5 5.433 5.067 7 7 7ZM11.9497 9.05025C13.2625 10.363 14 12.1435 14 14H7L0 14C0 12.1435 0.737498 10.363 2.05025 9.05025C3.36301 7.7375 5.14349 7 7 7C8.85652 7 10.637 7.7375 11.9497 9.05025Z" fill="white"/>
                            </svg>
                .header-content-bottom
                   .left-block
                        button.btn.secondary 
                            .burger 
                                span
                                span
                                span
                            p Каталог продукции
                        .rating 
                            img(src="./img/yandex.png", alt="yandex")
                            p 4,9
                            .stars 
                                img(src="./img/star.svg", alt="star")
                                img(src="./img/star.svg", alt="star")
                                img(src="./img/star.svg", alt="star")
                                img(src="./img/star.svg", alt="star")
                                img(src="./img/star.svg", alt="star")
                   .right-block
                        button Подготовка макетов
                        a(href="#") Доставка и оплата
                        a(href="#") Контакты
