@use "src/scss/common/files/mixins" as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: var(--white-color);
  .header-inner {
    display: flex;
    align-items: center;
    @include size(gap, 24);
    @include size(padding-top, 16);
    @include size(padding-bottom, 14);
    @media (max-width: $tab-sm) {
      @include size(padding-bottom, 16);
      justify-content: space-between;
    }
    .logo {
      @include size(min-width, 204);
      @include size(min-height, 95);
      @include size(max-width, 204);
      @include size(max-height, 95);
      @include size(border-radius, 20);
      border: 1px solid var(--line-color);
      display: flex;
      align-items: center;
      justify-content: center;
      @media (max-width: $tab-sm) {
        @include size(min-width, 84);
        @include size(min-height, 40);
        @include size(max-width, 84);
        @include size(max-height, 40);
        @include size(border-radius, 12);
      }
      img {
        @include size(width, 158);
        @include size(height, 72);
        @media (max-width: $tab-sm) {
          @include size(width, 66);
          @include size(height, 30);
        }
      }
    }
    .header-content-mob {
      display: none;
      align-items: center;
      @include size(gap, 8);
      @media (max-width: $tab-sm) {
        display: flex;
      }
      a {
        svg {
          @media (max-width: $tab-sm) {
            @include size(width, 18);
            @include size(height, 18);
          }
        }
      }
      .burger {
        display: flex;
        flex-direction: column;
        // @include size(gap, 6);
        align-items: center;
        justify-content: center;
        position: relative;
        &.active {
          span {
            &:nth-child(1) {
              transform: rotate(45deg);
              @include size(top, 20);
            }
            &:nth-child(3) {
              transform: rotate(-45deg);
              @include size(top, 20);
            }
            &:nth-child(2) {
              width: 0;
            }
          }
        }
        span {
          @include size(width, 24);
          @include size(height, 1);
          background: var(--white-color);
          transition: var(--trs-cubic-600);
          position: absolute;
          &:nth-child(1) {
            @include size(top, 14);
          }
          &:nth-child(2) {
            @include size(top, 20);
          }
          &:nth-child(3) {
            @include size(top, 26);
          }
        }
      }
    }
    .header-content {
      width: 100%;
      display: flex;
      flex-direction: column;
      @include size(gap, 7);
      justify-content: space-between;
      @media (max-width: $tab-sm) {
        display: none;
      }
      .header-content-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .header-contacts {
          display: flex;
          align-items: center;
          @include size(gap, 10);
          .socials {
            display: flex;
            align-items: center;
            @include size(gap, 10);
            a {
              svg {
                @include size(width, 18);
                @include size(height, 18);
              }
            }
          }
          .phone {
            @include body-sb;
            transition: var(--trs-cubic-600);
            &:hover {
              color: var(--accent-color);
            }
          }
          .mail {
            @include size(margin-left, 18);
            display: flex;
            align-items: center;
            @include size(gap, 10);
            &:hover {
              p {
                color: var(--accent-color);
              }
            }
            p {
              transition: var(--trs-cubic-600);

              @include body-s;
            }
          }
          .clock {
            @include size(margin-left, 18);
            display: flex;
            align-items: center;
            @include size(gap, 10);
            p {
              @include body-s;
            }
          }
        }
        .features {
          display: flex;
          align-items: center;
          @include size(gap, 10);
        }
      }
      .header-content-bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .left-block {
          display: flex;
          align-items: center;
          @include size(gap, 20);

          .rating {
            display: flex;
            align-items: center;
            @include size(gap, 12);
            @include size(height, 46);
            @include size(padding-top, 7);
            @include size(padding-left, 7);
            @include size(padding-bottom, 7);
            @include size(padding-right, 16);
            border-radius: 999px;
            border: 1px solid var(--line-color);

            img {
              @include size(width, 32);
              @include size(height, 32);
            }
            p {
              font-weight: 500;
              @include size(font-size, 18);
              @include size(line-height, 21);
            }
            .stars {
              display: flex;
              align-items: center;
              @include size(gap, 4);
              img {
                @include size(width, 18);
                @include size(height, 18);
              }
            }
          }
        }
        .right-block {
          display: flex;
          align-items: center;
          @include size(gap, 36);
          button,
          a {
            @include body-mb;
          }
        }
      }
    }
  }
}
