@use "src/scss/common/files/mixins" as *;

.catalog-card {
  background: var(--white-color);
  @include size(padding, 10);
  @include size(border-radius, 20);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  transition: var(--trs-cubic-600);
  border: 1px solid rgba(0, 0, 0, 0);
  &:hover {
    border-color: var(--accent-color) !important;
  }
  .image-wrapper {
    width: 100%;
    @include size(height, 310);
    @include size(border-radius, 12);
    overflow: hidden;
    position: relative;
    @media (max-width: $tab-sm) {
      @include size(height, 195);
    }
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .content {
    @include size(margin-top, 30);
    @include size(padding-bottom, 20);
    @include size(padding-left, 30);
    @include size(padding-right, 30);
    @include size(gap, 20);
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    @media (max-width: $tab-sm) {
      @include size(margin-top, 19);
    }
    .title {
      text-align: center;
    }
    .btn {
      svg {
        @include size(width, 12);
        @include size(height, 12);
      }
    }
  }
}
