mixin article-content()
    .article-content
        .article-content-inner.container 
            h1 Печать брошюры h1
            .article-content-inner-wrapper
                .article-content-block
                    .article-swiper-wrapper 
                        .article-swiper
                            .swiper-wrapper 
                                .swiper-slide 
                                    img(src="./img/article/3.jpg", alt="article")
                                .swiper-slide 
                                    img(src="./img/article/3.jpg", alt="article")
                                .swiper-slide 
                                    img(src="./img/article/3.jpg", alt="article")
                                .swiper-slide 
                                    img(src="./img/article/3.jpg", alt="article")
                        .navigation 
                            button.btn.circle.lg.article-prev 
                                <svg width="21" height="16" viewBox="0 0 21 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 8L8 1M1 8H21M1 8L8 15" stroke="white"/>
                                </svg>
                            button.btn.circle.lg.article-next 
                                <svg width="21" height="16" viewBox="0 0 21 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M20 8L13 1M20 8H0M20 8L13 15" stroke="white"/>
                                </svg>
                    .text-wrapper 
                        p.title В переводе с французского брошюра означает «сшивать». Страницы сшиваются скрепкой или скобой.
                        .text 
                            p Есть два способа скрепления брошюры: клеевое бесшовное скрепление (КБС) и скрепление при помощи скрепок. Если при первом методе фиксации страниц плотность блока неограниченна, то при втором сшить можно от 4 до 72 листов. Если речь не идет об издании «Войны и мира», то этих возможностей для большинства полиграфических проектов хватит с головой.
                        ul 
                            li Быстрая и эффективная печать со скоростью 100 стр/мин на носителях плотностью от 52 до 400 г/м²
                            li Соответствие новейшим мировым и отраслевым стандартам и профессиональное управление цветопередачей.
                            li Встроенный контроллер Konica Minolta Hikari
                            li Поддержка JDF, APPE и Pantone, совместимость с контроллерами Fiery и Creo
                        .mail-block 
                            img(src="./img/mail-icon.svg", alt="mail")
                            p Если возникнут вопросы по макетам, напишите нам на почту <br>
                                a(href='#') prepress@printomat.ru
                    .text-wrapper 
                        h2 Лучше листовки и буклета h2
                        .text 
                            p В отличие от скрепления пружиной, при фиксации скрепкой листы не смещаются, текст и иллюстрации просматриваются без искажений, а бумажный носитель информации (в том числе рекламной) получается долговечнее.
                            p По своим рекламным возможностям этот издательский продукт опережает листовки и буклеты, поскольку вмещает больший объем информации. Если нужно подробно что-либо описать и показать, то лучше всего с этим справится брошюра на скрепке. Многостраничное издание на качественной бумаге и с яркой полиграфией расскажет о товарах, услугах и акциях полнее, чем другие рекламные носители.
                        .text 
                            p В отличие от скрепления пружиной, при фиксации скрепкой листы не смещаются, текст и иллюстрации просматриваются без искажений, а бумажный носитель информации (в том числе рекламной) получается долговечнее.
                            p По своим рекламным возможностям этот издательский продукт опережает листовки и буклеты, поскольку вмещает больший объем информации. Если нужно подробно что-либо описать и показать, то лучше всего с этим справится брошюра на скрепке. Многостраничное издание на качественной бумаге и с яркой полиграфией расскажет о товарах, услугах и акциях полнее, чем другие рекламные носители.
                        ul 
                            li Быстрая и эффективная печать со скоростью 100 стр/мин на носителях плотностью от 52 до 400 г/м²
                            li Соответствие новейшим мировым и отраслевым стандартам и профессиональное управление цветопередачей.
                            li Встроенный контроллер Konica Minolta Hikari
                            li Поддержка JDF, APPE и Pantone, совместимость с контроллерами Fiery и Creo
                        .text 
                            p В отличие от скрепления пружиной, при фиксации скрепкой листы не смещаются, текст и иллюстрации просматриваются без искажений, а бумажный носитель информации (в том числе рекламной) получается долговечнее.
                            p По своим рекламным возможностям этот издательский продукт опережает листовки и буклеты, поскольку вмещает больший объем информации. Если нужно подробно что-либо описать и показать, то лучше всего с этим справится брошюра на скрепке. Многостраничное издание на качественной бумаге и с яркой полиграфией расскажет о товарах, услугах и акциях полнее, чем другие рекламные носители.
                        .quote 
                            img(src="./img/info/order/quot.svg", alt="quote")
                            p В отличие от скрепления пружиной, при фиксации скрепкой листы не смещаются, текст и иллюстрации просматриваются без искажений, а бумажный носитель информации (в том числе рекламной) получается долговечнее.
                        .text 
                            p В отличие от скрепления пружиной, при фиксации скрепкой листы не смещаются, текст и иллюстрации просматриваются без искажений, а бумажный носитель информации (в том числе рекламной) получается долговечнее.
                            p По своим рекламным возможностям этот издательский продукт опережает листовки и буклеты, поскольку вмещает больший объем информации. Если нужно подробно что-либо описать и показать, то лучше всего с этим справится брошюра на скрепке. Многостраничное издание на качественной бумаге и с яркой полиграфией расскажет о товарах, услугах и акциях полнее, чем другие рекламные носители.
                    .text-wrapper 
                        h3 Лучше листовки и буклета h3
                        .text 
                            p В отличие от скрепления пружиной, при фиксации скрепкой листы не смещаются, текст и иллюстрации просматриваются без искажений, а бумажный носитель информации (в том числе рекламной) получается долговечнее.
                            p По своим рекламным возможностям этот издательский продукт опережает листовки и буклеты, поскольку вмещает больший объем информации. Если нужно подробно что-либо описать и показать, то лучше всего с этим справится брошюра на скрепке. Многостраничное издание на качественной бумаге и с яркой полиграфией расскажет о товарах, услугах и акциях полнее, чем другие рекламные носители.
                    .text-wrapper 
                        h4 Лучше листовки и буклета h4
                        .text 
                            p В отличие от скрепления пружиной, при фиксации скрепкой листы не смещаются, текст и иллюстрации просматриваются без искажений, а бумажный носитель информации (в том числе рекламной) получается долговечнее.
                            p По своим рекламным возможностям этот издательский продукт опережает листовки и буклеты, поскольку вмещает больший объем информации. Если нужно подробно что-либо описать и показать, то лучше всего с этим справится брошюра на скрепке. Многостраничное издание на качественной бумаге и с яркой полиграфией расскажет о товарах, услугах и акциях полнее, чем другие рекламные носители.
                    .text-wrapper 
                        h5 Лучше листовки и буклета h5
                        ul 
                            li Быстрая и эффективная печать со скоростью 100 стр/мин на носителях плотностью от 52 до 400 г/м²
                            li Соответствие новейшим мировым и отраслевым стандартам и профессиональное управление цветопередачей.
                            li Встроенный контроллер Konica Minolta Hikari
                            li Поддержка JDF, APPE и Pantone, совместимость с контроллерами Fiery и Creo
                        .text 
                            p В отличие от скрепления пружиной, при фиксации скрепкой листы не смещаются, текст и иллюстрации просматриваются без искажений, а бумажный носитель информации (в том числе рекламной) получается долговечнее.
                            p По своим рекламным возможностям этот издательский продукт опережает листовки и буклеты, поскольку вмещает больший объем информации. Если нужно подробно что-либо описать и показать, то лучше всего с этим справится брошюра на скрепке. Многостраничное издание на качественной бумаге и с яркой полиграфией расскажет о товарах, услугах и акциях полнее, чем другие рекламные носители.
                    .text-wrapper 
                        h6 Лучше листовки и буклета h6
                        ul 
                            li Быстрая и эффективная печать со скоростью 100 стр/мин на носителях плотностью от 52 до 400 г/м²
                            li Соответствие новейшим мировым и отраслевым стандартам и профессиональное управление цветопередачей.
                            li Встроенный контроллер Konica Minolta Hikari
                            li Поддержка JDF, APPE и Pantone, совместимость с контроллерами Fiery и Creo
                .article-info-block
                    .sticky-block
                        h2 Вам может быть интересно
                        .more-acrticles
                            +article-card({title: 'Брошюра на скрепке', badgeTitle: 'Полиграфия для офиса', img: './img/article/1.jpg'}).sm
                            +article-card({title: 'Полиграфия онлайн: удобный сервис заказа продукции', badgeTitle: 'Полиграфия для офиса', img: './img/article/2.jpg'}).sm
                            +article-card({title: 'Полиграфия онлайн: удобный сервис заказа продукции', badgeTitle: 'Полиграфия для офиса', img: './img/article/1.jpg'}).sm