@use "src/scss/common/files/mixins" as *;

.article-content {
  @include size(margin-top, 20);
  @include size(padding-bottom, 148);

  .article-content-inner {
    .article-content-inner-wrapper {
      @include size(margin-top, 48);

      display: grid;
      @include grid-columns(888, 360);
      @include size(gap, 96);
      @media (max-width: $tab-sm) {
        grid-template-columns: 1fr;
        @include size(gap, 32);
        @include size(margin-top, 24);
      }
      .article-content-block {
        display: flex;
        flex-direction: column;
        @include size(gap, 64);
        @media (max-width: $tab-sm) {
          @include size(gap, 48);
        }
        .article-swiper-wrapper {
          position: relative;

          .article-swiper {
            overflow: hidden;
            @include size(width, 888);
            @include size(height, 500);
            @include border-radius(12);
            @media (max-width: $tab-sm) {
              @include size(width, 312);
              @include size(height, 312);
              @include size(padding-bottom, 30);
            }
            .swiper-slide {
              img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
          }
          .navigation {
            position: absolute;
            top: 0;
            bottom: 0;
            @include size(left, -24);
            @include size(right, -24);

            margin: auto;
            z-index: 2;
            justify-content: space-between;
            @media (max-width: $tab-sm) {
              display: none;
            }
          }
        }
        .text-wrapper {
          display: flex;
          flex-direction: column;
          @include size(gap, 24);

          .title {
            @include body-l;
          }
          .text {
            display: flex;
            flex-direction: column;
            @include size(gap, 10);
            p {
              @include body-m;
            }
          }
          ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            @include size(gap, 10);
            li {
              position: relative;
              @include size(padding-left, 30);
              @include body-m;
              &:before {
                content: "";
                position: absolute;
                left: 0;
                @include size(width, 8);
                @include size(top, 7);
                @include size(height, 8);
                background: var(--accent-color);
                border-radius: 999px;
              }
            }
          }
          .mail-block {
            @include border-radius(20);
            @include padding(28);
            display: flex;
            @include size(gap, 20);
            align-items: center;
            border: 1px solid var(--line-color);
            img {
              @include size(width, 64);
              @include size(height, 64);
            }
            p {
              @include body-mb;
              @media (max-width: $tab-sm) {
                @include body-sb;
              }
              a {
                text-decoration: underline;
              }
            }
          }
          .quote {
            @include border-radius(20);
            @include padding(28);
            display: flex;
            @include size(gap, 20);
            @include size(margin-top, 20);
            @include size(margin-bottom, 20);
            border: 1px solid var(--line-color);
            @media (max-width: $tab-sm) {
              flex-direction: column;
            }
            img {
              @include size(width, 64);
              @include size(height, 64);
            }
            p {
              @include body-l;
              @media (max-width: $tab-sm) {
                @include body-mb;
              }
              a {
                text-decoration: underline;
              }
            }
          }
        }
      }
      .article-info-block {
        .more-acrticles {
          display: flex;
          flex-direction: column;
          @include size(gap, 12);
          @include size(margin-top, 28);
        }
      }
    }
  }
}
