mixin requisites-modal()
    .requisites-modal.modal 
        .modal-content-wrapper
            .close-modal-wrapper
                button.btn.circle.sm.gray.close-modal 
                    <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9.24257 0.757359L4.99993 5M4.99993 5L0.757289 9.24264M4.99993 5L0.75729 0.757359M4.99993 5L9.24257 9.24264" stroke="#2C2C2C"/>
                    </svg>
            h3 Реквизиты
            ul 
                li 
                    span Полное наименование организации
                    p Общество с ограниченной ответственностью «Название»
                li 
                    span Юридический адрес
                    p г. Москва, ул. Подвойского, д. 14, стр. 7
                li 
                    span Почтовый адрес
                    p 123456, г. Москва, ул. Подвойского, д. 14, стр. 7
                li 
                    span ИНН
                    p 7712345678
                li 
                    span КПП 
                    p 779101001
                li 
                    span БИК
                    p 044521234
                li 
                    span Р/С 
                    p 40702810123450101230 в Московский банк ПАО Сбербанк г. Москва
                li 
                    span К/С
                    p 30101234500000000225
                li 
                    span ОКПО
                    p 2345678
                li 
                    span ОКАТО
                    p 87654321000
                li 
                    span ОКВЭД
                    p 18.15
                li 
                    span ОГРН
                    p 1047712345678
                li 
                    span Генеральный директор 
                    p Петров Сергей Петрович
                li 
                    span Электронная почта
                    p info@vesna.ru
                li 
                    span Телефон
                    p +749512345678
                li 
                    span Сайт
                    p www.vesna.ru 
            a(href="#" download).btn.primary Скачать реквизиты 