@use "src/scss/common/files/mixins" as *;

.requisites-modal {
  .modal-content-wrapper {
    @include size(width, 888);
    @media (max-width: $tab-sm) {
      @include size(width, 312);
    }
    ul {
      @include size(margin-top, 16);
      @include size(margin-bottom, 23);
      li {
        @include padding(7, 0);
        @include size(gap, 11);
        display: grid;
        @include grid-columns(283, 498);
        border-top: 1px solid var(--line-color);
        @media (max-width: $tab-sm) {
          grid-template-columns: 1fr;
          @include size(gap, 8);
        }
        &:last-child {
          border-bottom: 1px solid var(--line-color);
        }
        span {
          color: var(--txt-gray-color);
          @include body-s;
        }
        p {
          @include body-s;
        }
      }
    }
    .btn.primary {
      width: fit-content;
      @include size(height, 46);
      @include body-mb;
    }
  }
}
