mixin category-info()
    .category-info
        .category-info-inner.container 
            .category-info-item.txt-left 
                .text-block
                    p.title Быстрая печать и отличное качество
                    .text 
                        p Изготовление визитных карточек в нашей компании начинается с вашего обращения на сайт. Здесь вы, воспользовавшись онлайн-конструктором, можете выбрать необходимые параметры. К ним относятся:
                    ul 
                        li Размер (стандартный 90х50 мм или же другие типы, в том числе складные горизонтально и вертикально);
                        li Параметры печати (двухсторонняя или односторонняя печать);
                        li Тип бумаги (лён, биотоп, мелованная);
                        li Дополнительные параметры (печать золотом/серебром Pantone);
                        li Количество экземпляров.
                    .text 
                        p Определившись с этими характеристиками, остаётся только загрузить макет и оплатить заказ с помощью одной из доступных вам электронных платёжных систем или банковским переводом.
                        p В том случае, если у вас нет макета, то мы можем сделать макет по вашим пожеланиям или по шаблону из нашей библиотеки. Осуществляется печать визиток срочно — вы можете получить тираж в тот же день.
                    .alert 
                        img(src="./img/info/order/quot.svg", alt="quote")
                        p Предлагаем мы и услуги дизайнеров, которые с радостью помогут вам создать нужный эффект при печати визиток.
                .image-wrapper 
                    img(src="./img/category/category-info/1.jpg", alt="info")
            .category-info-item.txt-right 
                .text-block
                    p.title Дополнительные плюсы обращения в «Принтомат»
                    .text 
                        p Чем обусловлена недорогая печать визиток в Москве у нас? В первую очередь, конечно, технологией коллективной печати, которую мы активно используем. Плюсы такого изготовления на лицо: клиентам не приходится оплачивать допечатные процессы и формы, заказы отпечатываются с минимальными потерями со стороны производства, поэтому тираж оказывается ниже по себестоимости, чем в типографиях, которые такого метода не придерживаются.
                        p Высококачественное офсетное оборудование, на котором происходит печать визиток, не простаивает, а используется на полную мощность, и при этом — в наиболее экономичном режиме.
                        p Заказать изготовление визиток дёшево, качественно и максимально удобно можно на сайте http://printomat.ru. Обращайтесь уже сегодня. 
                    .mail-block 
                            img(src="./img/mail-icon.svg", alt="mail")
                            p По всем вопросам обращайтесь в службу технической поддержки 
                                a(href='#') info@printomat.ru
                .image-wrapper 
                    img(src="./img/category/category-info/2.jpg", alt="info")
            .category-info-item.txt-left 
                .text-block
                    p.title Наши клиенты
                    .text 
                        p Наша цель — помочь вашему бизнесу выделиться с помощью полиграфии, которая отражает уникальность вашего бренда.
                .image-wrapper.marquee-wrapper 
                    .marquee
                        .marquee__group
                            img(src="./img/company/1.jpg", alt="about")
                            img(src="./img/company/2.jpg", alt="about")
                            img(src="./img/company/1.jpg", alt="about")
                        .marquee__group
                            img(src="./img/company/3.jpg", alt="about")
                            img(src="./img/company/4.jpg", alt="about")
                            img(src="./img/company/5.jpg", alt="about")
                        .marquee__group
                            img(src="./img/company/6.jpg", alt="about")
                            img(src="./img/company/7.jpg", alt="about")
                            img(src="./img/company/6.jpg", alt="about")