// common components
include ../mixins/head.pug
include ../components/header/header.pug
include ../components/footer/footer.pug
include ../components/catalog/catalog.pug
include ../components/catalog-card/catalog-card.pug
include ../components/delivery/delivery.pug
include ../components/payment/payment.pug
include ../components/badge/badge.pug
include ../components/order/order.pug
include ../components/contacts/contacts.pug
include ../components/checkbox/checkbox.pug
include ../components/radio-button/radio-button.pug
include ../components/article-card/article-card.pug
include ../components/download-card/download-card.pug
include ../components/selector/selector.pug
include ../components/order-alert/order-alert.pug
include ../components/crumbs/crumbs.pug
include ../components/portfolio-card/portfolio-card.pug
include ../components/accordion-item/accordion-item.pug
include ../components/popup/popup.pug
include ../components/mobile-menu/mobile-menu.pug

// pages
include ../pages/home/hero/hero.pug
include ../pages/home/hero/hero-2.pug
include ../pages/home/hero/hero-3.pug
include ../pages/home/production/production.pug
include ../pages/home/production/production-2.pug
include ../pages/home/home-about/home-about.pug
include ../pages/home/home-alert/home-alert.pug
include ../pages/home/home-works/home-works.pug

include ../pages/production/production-about/production-about.pug
include ../pages/production/equipments/equipments.pug
include ../pages/production/equipment-item/equipment-item.pug

include ../pages/portfolio/portfolio-content/portfolio-content.pug

include ../pages/info/info-content/info-content.pug

include ../pages/article/article-content/article-content.pug

include ../pages/delivery/delivery-content/delivery-content.pug
include ../pages/profile/profile.pug
include ../pages/profile/orders/orders.pug
include ../pages/profile/orders-phys/orders-phys.pug

include ../pages/order/order.pug
include ../pages/order/order-2/order-2.pug
include ../pages/order/order-3/order-3.pug
// modals 
include ../modals/portfolio-modal/portfolio-modal.pug
include ../modals/orders-modal/orders-modal.pug
include ../modals/route-modal/route-modal.pug
include ../modals/requisites-modal/requisites-modal.pug
include ../modals/request-status-modal/request-status-modal.pug
include ../modals/request-status-success-modal/request-status-success-modal.pug
include ../modals/request-modal/request-modal.pug
include ../modals/request-success-modal/request-success-modal.pug