include ../mixins/head.pug
include ../components/header/header.pug
include ../components/footer/footer.pug
include ../components/catalog/catalog.pug
include ../components/catalog-card/catalog-card.pug
include ../components/delivery/delivery.pug
include ../components/payment/payment.pug
include ../components/badge/badge.pug
include ../components/order/order.pug
include ../components/contacts/contacts.pug
include ../components/delivery-content/delivery-content.pug
include ../components/article-card/article-card.pug
include ../components/download-card/download-card.pug
include ../components/selector/selector.pug
include ../components/order-alert/order-alert.pug
include ../components/crumbs/crumbs.pug
include ../components/portfolio-card/portfolio-card.pug
include ../components/accordion-item/accordion-item.pug
include ../components/home/hero/hero.pug
include ../components/home/production/production.pug
include ../components/home/home-about/home-about.pug
include ../components/home/home-alert/home-alert.pug
include ../components/home/home-works/home-works.pug
include ../components/production/production-about/production-about.pug
include ../components/production/equipments/equipments.pug
include ../components/production/equipment-item/equipment-item.pug
include ../components/portfolio/portfolio-content/portfolio-content.pug
include ../components/info/info-content/info-content.pug