include ../mixins/head.pug
include ../components/header/header.pug
include ../components/footer/footer.pug
include ../components/catalog/catalog.pug
include ../components/catalog-card/catalog-card.pug
include ../components/home/hero/hero.pug
include ../components/home/production/production.pug