// common components
include ../mixins/head.pug
include ../components/header/header.pug
include ../components/footer/footer.pug
include ../components/catalog/catalog.pug
include ../components/catalog-card/catalog-card.pug
include ../components/delivery/delivery.pug
include ../components/payment/payment.pug
include ../components/badge/badge.pug
include ../components/order/order.pug
include ../components/contacts/contacts.pug

include ../components/article-card/article-card.pug
include ../components/download-card/download-card.pug
include ../components/selector/selector.pug
include ../components/order-alert/order-alert.pug
include ../components/crumbs/crumbs.pug
include ../components/portfolio-card/portfolio-card.pug
include ../components/accordion-item/accordion-item.pug


// pages
include ../pages/home/hero/hero.pug
include ../pages/home/production/production.pug
include ../pages/home/home-about/home-about.pug
include ../pages/home/home-alert/home-alert.pug
include ../pages/home/home-works/home-works.pug

include ../pages/production/production-about/production-about.pug
include ../pages/production/equipments/equipments.pug
include ../pages/production/equipment-item/equipment-item.pug

include ../pages/portfolio/portfolio-content/portfolio-content.pug

include ../pages/info/info-content/info-content.pug

include ../pages/article/article-content/article-content.pug

include ../pages/delivery/delivery-content/delivery-content.pug
