include ../mixins/head.pug
include ../components/header/header.pug
include ../components/footer/footer.pug
include ../components/catalog/catalog.pug
include ../components/catalog-card/catalog-card.pug
include ../components/delivery/delivery.pug
include ../components/payment/payment.pug
include ../components/badge/badge.pug
include ../components/order/order.pug
include ../components/contacts/contacts.pug
include ../components/selector/selector.pug
include ../components/portfolio-card/portfolio-card.pug
include ../components/accordion-item/accordion-item.pug
include ../components/home/hero/hero.pug
include ../components/home/production/production.pug
include ../components/home/home-about/home-about.pug
include ../components/home/home-alert/home-alert.pug
include ../components/home/home-works/home-works.pug