@use "src/scss/common/files/mixins" as *;

.category-similar {
  overflow: hidden;
  @include size(margin-top, 96);
  .category-similar-inner {
    .title {
      @include h2;
    }
    .category-similar-swiper {
      @include size(margin-top, 28);
      position: relative;
    }
    .swiper-slide {
      border: 1px solid var(--line-color);
      height: auto;
      h6 {
        @include body-l;
      }
      .btn {
        display: none;
      }
    }
    .navigation {
      position: absolute;
      top: 0;
      bottom: 0;
      @include size(left, -24);
      @include size(right, -24);
      z-index: 2;
      justify-content: space-between;
    }
  }
}
