mixin equipments()
    .equipments
        .equipments-inner.container
            h2 Оборудование
            .equipments-list 
                +equipment-item({
                    class: 'txt-right', 
                    img: './img/production/equipments/1.jpg', 
                    title: 'Konica Minolta Accurio PRESS C6100', 
                    subTitle: 'Цифровая печатная машина', 
                    list: [
                        'Быстрая и эффективная печать со скоростью 100 стр/мин на носителях плотностью от 52 до 400 г/м²', 'Продукция профессионального уровня, стабильность и высокое качество изображения даже при длинных тиражах благодаря тонеру Simitri HD E, технологии цифровой обработки изображений с активной адаптацией растра S.E.A.D. IV и системе контроля стабильности', 
                        'Соответствие новейшим мировым и отраслевым стандартам и профессиональное управление цветопередачей.', 
                        'Встроенный контроллер Konica Minolta Hikari', 
                        'Поддержка JDF, APPE и Pantone, совместимость с контроллерами Fiery и Creo', 
                        'Многообразие функций систем и множество опций послепечатной обработки снижают количество ручного труда и делают работу более производительной, повышая прибыльность типографии'
                        ]
                })
                +equipment-item({
                    class: 'txt-left', 
                    img: './img/production/equipments/2.jpg', 
                    title: 'Komori Lithron G40', 
                    subTitle: 'Цифровая печатная машина', 
                    list: [
                        'Принтер обеспечивает максимальную скорость печати 17 200 листов в час и обеспечивает очень стабильную работу на высокой скорости при широком диапазоне толщин листов',
                        'Асинхронный автоматический сменщик пластин (AAPC)* значительно повышает эффективность работы и значительно сокращает время приготовления', 
                        'Сочетание интегрированной системы управления KHS-AI и системы H-UV/H-UV L (LED)* сокращает время подготовки к печати, сокращает количество отходов бумаги и максимально сокращает время печати, сохраняя при этом высокое качество печати и высокую производительность, характерные для офсетной печати', 
                        'Обновленный KID (информационный дисплей Komori) повышает эффективность работы оператора.', 
                        'Экономит энергию и ресурсы, уменьшает количество вредных химических веществ, таких как летучие органические соединения (ЛОС)', 
                        ]
                })
                +equipment-item({
                    class: 'txt-right', 
                    img: './img/production/equipments/3.jpg', 
                    title: 'Wohlenberg 115', 
                    subTitle: 'Бумагорезальная машина', 
                    list: [
                        'Принтер обеспечивает максимальную скорость печати 17 200 листов в час и обеспечивает очень стабильную работу на высокой скорости при широком диапазоне толщин листов',
                        'Асинхронный автоматический сменщик пластин (AAPC)* значительно повышает эффективность работы и значительно сокращает время приготовления', 
                        'Сочетание интегрированной системы управления KHS-AI и системы H-UV/H-UV L (LED)* сокращает время подготовки к печати, сокращает количество отходов бумаги и максимально сокращает время печати, сохраняя при этом высокое качество печати и высокую производительность, характерные для офсетной печати', 
                        'Обновленный KID (информационный дисплей Komori) повышает эффективность работы оператора.', 
                        'Экономит энергию и ресурсы, уменьшает количество вредных химических веществ, таких как летучие органические соединения (ЛОС)', 
                        ]
                })
                +equipment-item({
                    class: 'txt-left', 
                    img: './img/production/equipments/4.jpg', 
                    title: 'Vektor ZHHJ-1040', 
                    subTitle: 'Тигельный пресс', 
                    list: [
                        'Принтер обеспечивает максимальную скорость печати 17 200 листов в час и обеспечивает очень стабильную работу на высокой скорости при широком диапазоне толщин листов',
                        'Асинхронный автоматический сменщик пластин (AAPC)* значительно повышает эффективность работы и значительно сокращает время приготовления', 
                        'Сочетание интегрированной системы управления KHS-AI и системы H-UV/H-UV L (LED)* сокращает время подготовки к печати, сокращает количество отходов бумаги и максимально сокращает время печати, сохраняя при этом высокое качество печати и высокую производительность, характерные для офсетной печати', 
                        'Обновленный KID (информационный дисплей Komori) повышает эффективность работы оператора.', 
                        'Экономит энергию и ресурсы, уменьшает количество вредных химических веществ, таких как летучие органические соединения (ЛОС)', 
                        ]
                })
                +equipment-item({
                    class: 'txt-right', 
                    img: './img/production/equipments/5.jpg', 
                    title: 'Duplo System 3500', 
                    subTitle: 'Листоподборочно-брошюровочная линия', 
                    list: [
                        'Принтер обеспечивает максимальную скорость печати 17 200 листов в час и обеспечивает очень стабильную работу на высокой скорости при широком диапазоне толщин листов',
                        'Асинхронный автоматический сменщик пластин (AAPC)* значительно повышает эффективность работы и значительно сокращает время приготовления', 
                        'Сочетание интегрированной системы управления KHS-AI и системы H-UV/H-UV L (LED)* сокращает время подготовки к печати, сокращает количество отходов бумаги и максимально сокращает время печати, сохраняя при этом высокое качество печати и высокую производительность, характерные для офсетной печати', 
                        'Обновленный KID (информационный дисплей Komori) повышает эффективность работы оператора.', 
                        'Экономит энергию и ресурсы, уменьшает количество вредных химических веществ, таких как летучие органические соединения (ЛОС)', 
                        ]
                })
                +equipment-item({
                    class: 'txt-left', 
                    img: './img/production/equipments/2.jpg', 
                    title: 'Komori Lithron G40', 
                    subTitle: 'Цифровая печатная машина', 
                    list: [
                        'Принтер обеспечивает максимальную скорость печати 17 200 листов в час и обеспечивает очень стабильную работу на высокой скорости при широком диапазоне толщин листов',
                        'Асинхронный автоматический сменщик пластин (AAPC)* значительно повышает эффективность работы и значительно сокращает время приготовления', 
                        'Сочетание интегрированной системы управления KHS-AI и системы H-UV/H-UV L (LED)* сокращает время подготовки к печати, сокращает количество отходов бумаги и максимально сокращает время печати, сохраняя при этом высокое качество печати и высокую производительность, характерные для офсетной печати', 
                        'Обновленный KID (информационный дисплей Komori) повышает эффективность работы оператора.', 
                        'Экономит энергию и ресурсы, уменьшает количество вредных химических веществ, таких как летучие органические соединения (ЛОС)', 
                        ]
                })
                +equipment-item({
                    class: 'txt-right', 
                    img: './img/production/equipments/1.jpg', 
                    title: 'Konica Minolta Accurio PRESS C6100', 
                    subTitle: 'Цифровая печатная машина', 
                    list: [
                        'Быстрая и эффективная печать со скоростью 100 стр/мин на носителях плотностью от 52 до 400 г/м²', 'Продукция профессионального уровня, стабильность и высокое качество изображения даже при длинных тиражах благодаря тонеру Simitri HD E, технологии цифровой обработки изображений с активной адаптацией растра S.E.A.D. IV и системе контроля стабильности', 
                        'Соответствие новейшим мировым и отраслевым стандартам и профессиональное управление цветопередачей.', 
                        'Встроенный контроллер Konica Minolta Hikari', 
                        'Поддержка JDF, APPE и Pantone, совместимость с контроллерами Fiery и Creo', 
                        'Многообразие функций систем и множество опций послепечатной обработки снижают количество ручного труда и делают работу более производительной, повышая прибыльность типографии'
                        ]
                })
                +equipment-item({
                    class: 'txt-left', 
                    img: './img/production/equipments/2.jpg', 
                    title: 'Komori Lithron G40', 
                    subTitle: 'Цифровая печатная машина', 
                    list: [
                        'Принтер обеспечивает максимальную скорость печати 17 200 листов в час и обеспечивает очень стабильную работу на высокой скорости при широком диапазоне толщин листов',
                        'Асинхронный автоматический сменщик пластин (AAPC)* значительно повышает эффективность работы и значительно сокращает время приготовления', 
                        'Сочетание интегрированной системы управления KHS-AI и системы H-UV/H-UV L (LED)* сокращает время подготовки к печати, сокращает количество отходов бумаги и максимально сокращает время печати, сохраняя при этом высокое качество печати и высокую производительность, характерные для офсетной печати', 
                        'Обновленный KID (информационный дисплей Komori) повышает эффективность работы оператора.', 
                        'Экономит энергию и ресурсы, уменьшает количество вредных химических веществ, таких как летучие органические соединения (ЛОС)', 
                        ]
                })
                +equipment-item({
                    class: 'txt-right', 
                    img: './img/production/equipments/1.jpg', 
                    title: 'Konica Minolta Accurio PRESS C6100', 
                    subTitle: 'Цифровая печатная машина', 
                    list: [
                        'Быстрая и эффективная печать со скоростью 100 стр/мин на носителях плотностью от 52 до 400 г/м²', 'Продукция профессионального уровня, стабильность и высокое качество изображения даже при длинных тиражах благодаря тонеру Simitri HD E, технологии цифровой обработки изображений с активной адаптацией растра S.E.A.D. IV и системе контроля стабильности', 
                        'Соответствие новейшим мировым и отраслевым стандартам и профессиональное управление цветопередачей.', 
                        'Встроенный контроллер Konica Minolta Hikari', 
                        'Поддержка JDF, APPE и Pantone, совместимость с контроллерами Fiery и Creo', 
                        'Многообразие функций систем и множество опций послепечатной обработки снижают количество ручного труда и делают работу более производительной, повышая прибыльность типографии'
                        ]
                })
            .btn-wrapper 
                button.btn.load-more.load.white Показать ещё