@use "src/scss/common/files/mixins" as *;

.mobile-menu {
  position: fixed;
  left: 0;
  @include size(top, 72);
  right: 0;
  z-index: 100;
  background: var(--white-color);
  overflow: hidden;
  opacity: 0;
  transition: var(--trs-cubic-600);
  pointer-events: none;
  max-height: calc(100vh);

  &.active {
    opacity: 1;

    pointer-events: all;
  }
  .mobile-menu-inner {
    overflow: auto;
    height: calc(100vh - calc(72 / var(--screensize) * 100vw));
    @include size(padding-bottom, 16);
    display: flex;
    flex-direction: column;
    .secondary {
      @include size(min-height, 46);
      @include size(height, 46);
      width: 100%;
      justify-content: center;
    }
    nav {
      @include size(margin-top, 24);
      display: flex;
      flex-direction: column;
      @include size(gap, 24);
      flex: 1;
      a {
        @include body-mb;
      }
      .accordion-title {
        padding: 0;
        h6 {
          @include body-mb;
        }
      }
      .collapse {
        @include size(padding-left, 24);
        ul {
          list-style: none;
          display: flex;
          flex-direction: column;
          @include size(gap, 10);
          @include size(margin-top, 16);

          a {
            @include body-mb;
          }
        }
      }
    }
    .mobile-menu-info {
      @include size(margin-top, 24);
      @include size(padding-top, 24);
      border-top: 1px solid var(--line-color);
      display: flex;
      flex-direction: column;
      @include size(gap, 11);
      .clock {
        @include size(margin-top, 10);
      }
      .mail,
      .clock {
        display: flex;
        align-items: center;
        @include size(gap, 10);
        p {
          @include body-s;
        }
      }
      .socials-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        a {
          @include body-s;
        }
        .socials {
          display: flex;
          align-items: center;
          @include size(gap, 10);
          a {
            svg {
              @include size(width, 18);
              @include size(height, 18);
            }
          }
        }
      }
    }
    .mobile-menu-bottom {
      @include size(margin-top, 24);
      display: flex;
      flex-direction: column;
      @include size(gap, 10);
      .btn {
        width: fit-content;
      }
    }
  }
}
