@use "src/scss/common/files/mixins" as *;

.mobile-menu {
  position: fixed;
  left: 0;
  @include size(top, 72);
  right: 0;
  z-index: 100;
  background: var(--white-color);
  @include size(padding-bottom, 16);
  overflow: hidden;
  opacity: 0;
  transition: var(--trs-cubic-600);
  pointer-events: none;
  max-height: calc(100vh - 106px);

  &.active {
    opacity: 1;

    pointer-events: all;
  }
  .mobile-menu-inner {
    overflow: auto;
    max-height: calc(100vh - 106px);
    .secondary {
      @include size(height, 46);
      width: 100%;
      justify-content: center;
    }
    nav {
      @include size(margin-top, 24);
      display: flex;
      flex-direction: column;
      @include size(gap, 24);
      a {
        @include body-mb;
      }
      .accordion-title {
        h6 {
          @include body-mb;
        }
      }
      .collapse {
        @include size(padding-left, 24);
        ul {
          list-style: none;
          display: flex;
          flex-direction: column;
          @include size(gap, 10);
          a {
            @include body-mb;
          }
        }
      }
    }
    .mobile-menu-info {
      @include size(margin-top, 24);
      @include size(padding-top, 24);
      border-top: 1px solid var(--line-color);
      display: flex;
      flex-direction: column;
      @include size(gap, 24);

      .mail,
      .clock {
        display: flex;
        align-items: center;
        @include size(gap, 10);
        p {
          @include body-s;
        }
      }
    }
    .mobile-menu-bottom {
      @include size(margin-top, 24);
      display: flex;
      flex-direction: column;
      @include size(gap, 10);
      .btn {
        width: fit-content;
      }
    }
  }
}
