mixin order-complete()
    .order-complete
        .order-complete-inner.container
            h1 Спасибо!
            .order-complete-inner-content 
                .text-block 
                    p.title Заказ №3247 создан
                    .text 
                        p Информацию о заказе вы можете посмотреть в личном кабинете, пароль для входа мы отправили на почту 
                            a(href="mailto:m.keyder@gmail.com") m.keyder@gmail.com
                    button.btn.primary Перейти в личный кабинет
                    .quote 
                        img(src="./img/info/order/quot.svg", alt="quote") 
                        .text 
                            p В личном кабинете, сохранятся адреса и контактные данные для следующих заказов, также в нем можно проверять статус заказов и просматривать историю покупок.
                            p Также, статус заказа можно узнать по кнопке  «Статус заказа» в шапке сайта
                .image-wrapper 
                    img(src="./img/order-complete/img.jpg", alt="order-complete")