@use "src/scss/common/files/mixins" as *;

.order-complete {
  @include size(margin-top, 20);
  @include size(margin-bottom, 128);
  @media (max-width: $tab-sm) {
    @include size(margin-bottom, 48);
  }
  .order-complete-inner-content {
    @include size(margin-top, 48);
    display: grid;
    @include grid-columns(546, 661);
    @include size(gap, 137);
    @media (max-width: $tab-sm) {
      grid-template-columns: repeat(1, 1fr);
      @include size(margin-top, 24);
      @include size(gap, 24);
    }
    .text-block {
      .title {
        @include body-l;
      }
      .text {
        @include size(margin-top, 16);
        display: flex;
        flex-direction: column;
        @include size(gap, 10);
        p {
          @include body-m;
          a {
            @include body-mb;
          }
        }
      }
      .btn {
        @include size(margin-top, 28);
        @media (max-width: $tab-sm) {
          width: 100%;
          justify-content: center;
        }
      }
      .quote {
        @include size(margin-top, 49);
        @include border-radius(20);
        @include padding(24);
        width: 100%;
        border: 1px solid var(--line-color);
        display: flex;
        align-items: center;
        @include size(gap, 20);
        align-items: flex-start;

        img {
          @include size(height, 64);
          @include size(width, 64);
        }
        .text {
          margin-top: 0;
          p {
            @include body-m;
          }
        }
      }
    }
    .image-wrapper {
      border: 10px solid var(--gray-color);
      @include border-radius(20);
      overflow: hidden;
      @media (max-width: $tab-sm) {
        border-width: 4px;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
