mixin home-about()
    .home-about
        .home-about-inner.container
            .home-about-item.txt-left    
                .text-block 
                    .text-wrapper
                        p.title Типография Printomat
                        .text 
                            p  Мы производим качественную полиграфию для бизнеса: визитки, флаеры, бирки и упаковку на заказ. Собственное производство и современное оборудование позволяют нам быстро реализовывать проекты любой сложности, гарантируя высокое качество.
                            p Наша цель — помочь вашему бизнесу выделиться с помощью полиграфии, которая отражает уникальность вашего бренда.
                    .bottom-wrapper 
                        a(href='#').btn.secondary О производстве
                .image-block 
                    img(src="./img/home/about/1.jpg", alt="about")
            .home-about-item.txt-right    
                .text-block 
                    .text-wrapper
                        p.title Printomat доверяют множество компаний со всей России
                    .bottom-wrapper 
                        p.descr Наша цель — помочь вашему бизнесу выделиться с помощью полиграфии, которая отражает уникальность вашего бренда.
                .image-block 
                    img(src="./img/home/about/2.jpg", alt="about")
            .home-about-item.txt-left    
                .text-block 
                    .text-wrapper
                        p.title Наш рейтинг
                        .image-wrapper 
                            img(src="./img/home/about/rating.jpg", alt="rating")
                            img(src="./img/home/about/rating2.jpg", alt="rating").mob
                    .bottom-wrapper 
                        p.descr Наша цель — помочь вашему бизнесу выделиться с помощью полиграфии, которая отражает уникальность вашего бренда.
                        a(href='#').btn.secondary Читать все отзывы
                .image-block 
                    img(src="./img/home/about/3.jpg", alt="about")