mixin portfolio-card(data)
    .portfolio-card(data-modal-target='portfolio-modal')&attributes(attributes)
        .image-wrapper 
            img(src=data.img, alt="portfolio")
        .content 
            +badge({title: data.badgeTitle})
            h6 #{data.title}