@use "src/scss/common/files/mixins" as *;

.portfolio-card {
  border: 1px solid var(--line-color);
  @include size(border-radius, 20);
  @include size(padding, 28);
  height: auto;
  .image-wrapper {
    @include size(height, 376);
    width: 100%;
    @include size(border-radius, 12);
    overflow: hidden;
    position: relative;
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .content {
    @include size(margin-top, 28);
    @include size(gap, 16);
    display: flex;
    flex-direction: column;
    align-items: center;

    h6 {
      text-align: center;
    }
  }
}
