mixin order-page-3()

	.order 
		.container 
			.order__head 
				h1 Оформление заказа
			.order__nav.order__nav-2
				.order__nav__item.done
					p Параметры заказа
				.order__nav__item.done
					p Контакты
				.order__nav__item.done 
					p Доставка
				.order__nav__item.active 
					p Оплата
			.order__body 
				.order__left.tabs-wrapper 
					h6 Оплата
					.order__delivery__radios 
							label.radio-btn.tab.active(data-tab="1") 
								input(type="radio" name='type' value='pickup' checked='checked')
								span Юридическое лицо
							label.radio-btn.tab(data-tab="2") 
								input(type="radio" name='type' value='pvz')
								span Физическое лицо
					.tab-content(data-tab="1")
						.order__payment-block 
							p.text-l Реквизиты ЮЛ
							.double-field
								label.field-wrap
									span ИНН
									input.input__valid-phone(type="text", placeholder="Введите") 
								label.field-wrap
									span КПП
									input(type="text", placeholder="Введите") 

							
							label.field-wrap
								span Название организации
								input(type="text", placeholder="Введите") 

							label.field-wrap
								span Юридический адрес
								input(type="text", placeholder="Введите") 

							label.field-wrap
								span Фактический адрес
								input(type="text", placeholder="Введите") 

						.order__payment-block 
							p.text-l Банковские реквизиты
						
							label.field-wrap
								span БИК *
								input.input__valid-phone(type="text", placeholder="Введите") 

							label.field-wrap
								span Расчетный счет *
								input(type="text", placeholder="Введите") 

							label.field-wrap
								span Способ оплаты
								+selector({
										class: 'product-selector',
										title: 'Выберите', 
										items: [
											{
												title: 'СБП', 
												value: 0
											},
											{
												title: 'Сбер', 
												value: 1
											},
											{
												title: 'Юмани', 
												value: 2
											},
											],
											name: 'method'
										},)

						.order__payment-block 
							p.text-l Скидочный купон (если есть)
						
							.order__promocode 
								label.field-wrap
									input.input__valid-phone(type="text", placeholder="Введите") 
								button.btn.primary Активировать
		
						.order__left__total 
									p.little Стоимость доставки (включая налог)
										span 1 000 ₽
									p Итого
										span 19 720 ₽
					.tab-content(data-tab="2")
						
						.order__payment-block 
							p.text-l Способ оплаты
							label.field-wrap
								+selector({
										class: 'product-selector',
										title: 'Выберите', 
										items: [
											{
												title: 'СБП', 
												value: 0
											},
											{
												title: 'Сбер', 
												value: 1
											},
											{
												title: 'Юмани', 
												value: 2
											},
											],
											name: 'method'
								
									},)
						
						.order__payment-block
							p.text-l Скидочный купон (если есть)
							.order__promocode
								label.field-wrap
									input.input__valid-phone(type="text", placeholder="Введите") 
								button.btn.primary Активировать
		
						.order__left__total 
									p.little Стоимость доставки (включая налог)
										span 1 000 ₽
									p Итого
										span 19 720 ₽
					+checkbox('Создать личный кабинет по завершению  оформления заказа')
					.order__left__bottom 
						a.btn.tab.outline(href="#") Назад
						a.btn.primary(href="#") Оформить заказ 

					
					
				.order__right
					h6 Ваш заказ
					.order__right__items 
						.order__right__item 
							.order__right__item__head 
								button.order__right__item__name 
									<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M1 5L10 15L19 5" stroke="#2C2C2C"/>
									</svg>
									span Наклейки
								button.order__right__item__remove 
									<svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
										<rect width="28" height="28" rx="14" transform="matrix(-1 0 0 1 28 0)" fill="#EEEEEE"/>
										<path d="M18.2435 9.75736L14.0009 14M14.0009 14L9.75827 18.2426M14.0009 14L9.75827 9.75736M14.0009 14L18.2435 18.2426" stroke="#2C2C2C"/>
									</svg>
							.order__right__item__body 
								div.hide Тираж
									+selector({
										class: 'product-selector',
										title: 'Тираж', 
										items: [
											{
												title: '500 шт.', 
												value: 0
											},
											{
												title: '1000 шт.', 
												value: 1
											},
											{
												title: '1500 шт.', 
												value: 2
											},
											],
											name: 'count'
										},)
								div.hide Тариф
									+selector({
										class: 'product-selector',
										title: 'Тариф', 
										items: [
											{
												title: 'Эконом', 
												value: 0
											},
											{
												title: 'Комфорт', 
												value: 1
											},
											{
												title: 'Комфорт+', 
												value: 2
											},
											],
											name: 'tarif'
										},)
								p.hide Размер, мм
									span 100×60
								p.hide Печать
									span Одна краска (1+0)
								p.hide Бумага
									span 300г Touche Cover
								p.hide Макет
									span Наклейки_новые.ai
								p.hide Габариты
									span 0,1 м3
								p.hide Вес, кг
									span 1,2
								p Стоимость
									span 1 000 шт
								p Тираж
									span 10 000 ₽
						.order__right__item 
							.order__right__item__head 
								button.order__right__item__name 
									<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M1 5L10 15L19 5" stroke="#2C2C2C"/>
									</svg>
									span Наклейки
								button.order__right__item__remove 
									<svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
										<rect width="28" height="28" rx="14" transform="matrix(-1 0 0 1 28 0)" fill="#EEEEEE"/>
										<path d="M18.2435 9.75736L14.0009 14M14.0009 14L9.75827 18.2426M14.0009 14L9.75827 9.75736M14.0009 14L18.2435 18.2426" stroke="#2C2C2C"/>
									</svg>
							.order__right__item__body 
								div.hide Тираж
									+selector({
										class: 'product-selector',
										title: 'Тираж', 
										items: [
											{
												title: '500 шт.', 
												value: 0
											},
											{
												title: '1000 шт.', 
												value: 1
											},
											{
												title: '1500 шт.', 
												value: 2
											},
											],
											name: 'count'
										},)
								div.hide Тариф
									+selector({
										class: 'product-selector',
										title: 'Тариф', 
										items: [
											{
												title: 'Эконом', 
												value: 0
											},
											{
												title: 'Комфорт', 
												value: 1
											},
											{
												title: 'Комфорт+', 
												value: 2
											},
											],
											name: 'tarif'
										},)
								p.hide Размер, мм
									span 100×60
								p.hide Печать
									span Одна краска (1+0)
								p.hide Бумага
									span 300г Touche Cover
								p.hide Макет
									span Наклейки_новые.ai
								p.hide Габариты
									span 0,1 м3
								p.hide Вес, кг
									span 1,2
								p Стоимость
									span 1 000 шт
								p Тираж
									span 10 000 ₽
					.order__right__bottom 
						p Общие габариты
							span 0,7 м3
						p Общий вес
							span 5,7 кг
						p.order__right__bottom__total Общая стоимость
							span 19 720 ₽