mixin catalog-content()
    .catalog-content 
        .catalog-content-inner.container
            +catalog({title: 'Каталог', catalogSlider: false, catalogSelector: true})
    .order-wrapper
        .order-wrapper-inner.container
            +order()