mixin category-alert()
    .category-alert.container
        .category-alert-inner
            .content 
                img(src="./img/info/order/quot.svg", alt="quote")
                .text 
                    p.title Нет времени заполнять форму?
                    p.descr Сделайте заказ в 1 клик!
            .btn-wrapper
                button.btn.primary(data-modal-target='request-modal') Заказать в один клик
                img(src="./img/category/alert/1.svg", alt="").wave.wave1
                img(src="./img/category/alert/2.svg", alt="").wave.wave2
                img(src="./img/category/alert/cursor.png", alt="").cursor