@use "src/scss/common/files/mixins" as *;

.selector {
  position: relative;
  &.active {
    .selector-content {
      opacity: 1;
      transform: translateY(0);
      pointer-events: all;
    }
  }
  .selector-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border: 1px solid var(--line-color);
    @include padding(0, 20);
    @include size(height, 46);
    border-radius: 999px;
    .icon {
      display: flex;
      align-items: center;
    }
    input {
      display: none;
    }
    .selector-title {
      @include body-m;

      p {
        @include body-m;
        display: block;
        white-space: nowrap;
        overflow: hidden;
        width: 100%;
        text-overflow: ellipsis;
        padding: 0 !important;
        text-align: left;
      }
      .text-content {
        display: flex;
        align-items: center;
        gap: 10px;
        span {
          font-size: 14px;
          line-height: 19px;
          font-weight: 400;
          transition: var(--trs-300);
          color: var(--txt-color);
        }
      }
    }
  }
  .selector-content {
    z-index: 2;
    position: absolute;
    background: #fff;
    min-width: 100%;
    opacity: 0;
    transform: translateY(-20%);
    pointer-events: none;
    transition: var(--trs-300);
    box-shadow: var(--shadow);
    @include border-radius(20);
    @include padding(24);
    box-shadow: var(--shadow);
    .selector-list {
      display: flex;
      flex-direction: column;
      @include size(gap, 11);

      label {
        display: flex;
        align-items: center;
        gap: 10px;
        transition: var(--trs-300);
        cursor: pointer;

        p {
          @include body-m;
        }
        &:hover {
          p {
            color: var(--accent-2-color);
          }
        }
        input {
          display: none;
          &:checked ~ p {
            @include body-mb;
          }
        }

        .text-content {
          display: flex;
          align-items: center;
          gap: 10px;
        }
        p {
          transition: var(--trs-300);
        }
        span {
          font-size: 16px;
          font-weight: 400;
          line-height: 22px;
          transition: var(--trs-300);
          &:hover {
            color: var(--pink-color);
          }
        }
      }
    }
  }
}
