@use "src/scss/common/files/mixins" as *;

.category-form {
  @include size(margin-top, 20);
  .category-form-inner {
    .steps {
      display: flex;
      @include size(gap, 10);
      @include size(margin-top, 28);
      align-items: center;
      .category-form-step {
        background: var(--back-color);
        @include size(height, 56);
        @include border-radius(12);
        @include padding(0, 24);
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        transition: var(--trs-cubic-300);
        border: 1px solid rgba(0, 0, 0, 0);
        &.success {
          border-color: var(--gray-color);
          background: var(--white-color);
          p {
            color: var(--gray-color);
          }
          .icon {
            background: var(--white-color);
            &:before {
              opacity: 1;
            }
          }
        }
        &.active {
          background: var(--gray-color);
          p {
            color: var(--white-color);
          }
        }
        p {
          color: var(--txt-gray-color);
          @include body-mb;
          transition: var(--trs-cubic-300);
        }
        .icon {
          @include size(height, 20);
          @include size(width, 20);
          background: var(--white-color);
          border-radius: 9999px;
          position: relative;
          &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background-image: url("../img/step-check.svg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            transition: var(--trs-cubic-300);
            opacity: 0;
          }
        }
      }
    }
    .form {
      @include size(margin-top, 48);
      @include size(gap, 137);
      display: grid;
      @include grid-columns(661, 546);
      align-items: flex-start;
      .form-steps {
        .step {
          display: none;
          flex-direction: column;
          &.active {
            display: flex;
          }
          .inputs {
            @include size(margin-top, 28);
            display: flex;
            flex-direction: column;
            @include size(gap, 24);
            &.grid {
              display: grid;
              grid-template-columns: repeat(2, 1fr);
              @include size(gap, 24);
              label {
                border: 1px solid var(--line-color);
                transition: var(--trs-cubic-300);
                @include border-radius(12);
                @include padding(20, 20, 20, 30);
                display: flex;
                flex-direction: row-reverse;
                @include size(gap, 20);
                justify-content: space-between;
                cursor: pointer;

                .radio-input-content {
                  display: flex;
                  flex-direction: column;
                  @include size(gap, 2);
                  .title {
                    @include body-l;
                  }
                  .date {
                    @include body-mb;
                  }
                }
              }
            }
            &.accordion {
              @include size(gap, 12);

              .accordion-list {
                display: flex;
                flex-direction: column;
                @include size(gap, 12);
                overflow: hidden;
                transition: var(--trs-cubic-600);
                .hidden-acc,
                .visible-acc {
                  display: flex;
                  flex-direction: column;
                  @include size(gap, 12);
                }
                &.active {
                  .hidden-acc {
                    display: flex;
                  }
                }
                .hidden-acc {
                  display: none;
                }
              }
              .more-acc {
                width: fit-content;
                &:before {
                  transition: var(--trs-cubic-600);
                }
                &.active {
                  &:before {
                    transform: rotate(45deg);
                  }
                }
              }
            }
            &.row {
              display: grid;
              grid-template-columns: repeat(2, 1fr);
              @include size(gap, 24);
              .template-loader {
                @include border-radius(12);
                @include size(height, 130);

                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                position: relative;
                cursor: pointer;
                &.constructor {
                  input {
                    display: none;
                  }
                }
                &.active {
                  border-style: solid !important;
                  border-color: var(--gray-color) !important;
                  .title {
                    text-decoration: underline;
                  }
                  .clear-btn {
                    display: flex;
                  }
                  .icon {
                    display: none;
                  }
                  input {
                    pointer-events: none;
                  }
                }
                .clear-btn {
                  display: none;
                  padding: 0;
                  pointer-events: all;
                }
                .title {
                  @include body-mb;
                  @include size(margin-top, 10);
                }
                input {
                  opacity: 0;
                  position: absolute;
                  top: 0;
                  left: 0;
                  bottom: 0;
                  right: 0;
                  cursor: pointer;
                }
                &:nth-child(1) {
                  border: 1px dashed var(--txt-gray-color);
                }
                &:nth-child(2) {
                  border: 1px solid var(--gray-color);
                }
              }
            }
            .input-wrapper {
              display: grid;
              @include grid-columns(100, 546);
              @include size(gap, 15);
              align-items: center;
              .title-wrapper {
                display: flex;
                @include size(gap, 10);

                .title {
                  @include body-m;
                }
                .hint {
                  @include size(width, 18);
                  @include size(height, 18);
                  border: 1px solid var(--gray-color);
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  border-radius: 9999px;
                  cursor: pointer;
                  p {
                    font-weight: 500;
                    font-size: calc(10 / var(--screensize) * 100vw);
                    line-height: calc(12 / var(--screensize) * 100vw);
                  }
                }
              }
              .row {
                display: grid;
                @include grid-columns(318, 28, 180);
                align-items: center;
                @include size(gap, 8);
                span {
                  @include body-m;
                }
              }
              .half {
                @include size(width, 318);
              }
              .sm {
                @include size(width, 204);
              }
            }
          }
          .btns-wrapper {
            display: flex;
            justify-content: space-between;
            @include size(margin-top, 48);
            .btn {
              &:nth-child(1) {
                &:before {
                  background-image: url("../img/arrow-back.svg");
                }
              }
              &:nth-child(2) {
                @include size(padding-left, 28);
                @include size(padding-right, 52);
                &:before {
                  background-image: url("../img/arrow-next.svg");
                  left: auto;
                  @include size(right, 12);
                }
              }
            }
          }
        }
      }
      .category-form-info {
        @include padding(48);
        @include border-radius(20);
        border: 1px solid var(--line-color);
        &.active {
          .category-form-info-center {
            display: block;
          }
          .category-form-info-bottom {
            .inputs {
              display: flex;
            }
          }
        }
        .category-form-info-center {
          display: none;
          @include size(margin-top, 20);
          @include size(padding-top, 20);
          border-top: 1px solid var(--line-color);
          .top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .title {
              @include body-mb;
            }
          }
          ul {
            list-style: none;
            @include size(margin-top, 9);
            display: flex;
            flex-direction: column;
            @include size(gap, 6);
            li {
              display: grid;
              @include grid-columns(108, 318);
              @include size(gap, 24);
              p {
                @include body-s;
                color: var(--txt-gray-color);
              }
              span {
                @include body-s;
              }
            }
          }
        }
        .category-form-info-bottom {
          @include size(margin-top, 24);
          @include size(padding-top, 16);
          border-top: 1px solid var(--gray-color);
          .price-wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            p {
              @include body-mb;
            }
            span {
              font-weight: 700;
              font-size: calc(24 / var(--screensize) * 100vw);
              line-height: calc(26 / var(--screensize) * 100vw);
            }
          }
          .inputs {
            display: none;
            flex-direction: column;
            @include size(gap, 12);
            @include size(margin-top, 20);

            label {
              cursor: pointer;
              display: flex;
              @include size(gap, 16);
              p {
                @include body-xs;
              }
            }
          }
          .btns {
            @include size(margin-top, 24);
            @include size(gap, 26);
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            button {
              @include size(height, 46);
              @include body-mb;
              justify-content: center;
            }
          }
        }
      }
    }
  }
}
