@use "src/scss/common/files/mixins" as *;
.cart-content {
  @include size(margin-top, 20);
  @include size(margin-bottom, 128);
  @media (max-width: $tab-sm) {
    @include size(margin-bottom, 50);
  }
  .cart-content-inner {
    .cart-content-main {
      @include size(margin-top, 48);
      @include size(gap, 48);
      display: grid;
      @include grid-columns(750, 546);
      @media (max-width: $tab-sm) {
        grid-template-columns: 1fr;
      }
      .cart-items {
        display: flex;
        flex-direction: column;
        @include size(gap, 28);
      }
      .cart-form-info {
        @include padding(48);
        @include border-radius(20);
        border: 1px solid var(--line-color);
        @media (max-width: $tab-sm) {
          display: none;
        }
        .cart-form-info-center {
          @include size(margin-top, 20);

          ul {
            list-style: none;
            @include size(margin-top, 9);
            display: flex;
            flex-direction: column;
            @include size(gap, 6);
            li {
              display: grid;
              @include grid-columns(117, 270);
              @include size(gap, 15);
              p {
                @include body-s;
                color: var(--txt-gray-color);
              }
              span {
                @include body-s;
              }
            }
          }
        }
        .cart-form-info-bottom {
          @include size(margin-top, 24);
          @include size(padding-top, 16);
          border-top: 1px solid var(--gray-color);
          .price-wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            p {
              @include body-mb;
            }
            span {
              font-weight: 700;
              font-size: calc(24 / var(--screensize) * 100vw);
              line-height: calc(26 / var(--screensize) * 100vw);
            }
          }
          .inputs {
            display: flex;
            flex-direction: column;
            @include size(gap, 12);
            @include size(margin-top, 20);

            label {
              cursor: pointer;
              display: flex;
              @include size(gap, 16);
              p {
                @include body-xs;
              }
            }
          }
          .btns {
            @include size(margin-top, 24);
            @include size(gap, 26);
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            button {
              @include size(height, 46);
              @include body-mb;
              justify-content: center;
            }
          }
        }
      }
    }
  }
}
