@use "src/scss/common/files/mixins" as *;

.checkbox {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    @include size(font-size, 16);
    cursor: pointer;

    a {
        text-decoration: underline;
    }
}

.checkbox input {
    z-index: -1;
    position: absolute;
    opacity: 0;
}

.checkbox span {
    position: relative;
    @include size(padding-left, 32);
    color: #2c2c2c;
}

.checkbox span:before {
    content: "";
    position: absolute;
    left: 0;
    display: block;
    @include size(width, 20);
    @include size(height, 20);
    -webkit-box-flex: 0;
    -webkit-flex: 0;
    -ms-flex: 0;
    flex: 0;
    background-color: #fff;
    border: 1px solid rgba(62, 62, 62, .15);
    background-repeat: no-repeat;
    background-position: center center;
    @include size(border-radius, 4);
}

.checkbox input:checked + span:before {
    border-color: #F2DC00;
    background: url(../img/tick.svg), #F2DC00;
    background-repeat: no-repeat;
    background-position: center;

}