@use "src/scss/common/files/mixins" as *;

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(238, 238, 238, 0.8);
	backdrop-filter: blur(7.5px);
	opacity: 0;
	visibility: hidden;
	transition: .3s ease;
	display: flex;
	&.active {
		opacity: 1;
		visibility: visible;
	}

	&.add-comment {
		h3 {
			width: 100%;
		}

		.popup__form {
			width: 100%;
		}

		.btn {
			@include size(width, 270);
			display: flex;
			align-items: center;
			justify-content: center;
			font-weight: 700;
			@include size(font-size, 16);
		}

		.add-comment-info {
			@include size(margin-bottom, 28);
			a {
				display: block;
				font-weight: 700;
			}

			b {
				display: block;
				font-weight: 700;
			}
		}
	}
	
}

.popup {
	@include size(padding, 48);
	background: #fff;
	@include size(border-radius, 20);
	margin: auto;
	position: relative;
	@include size(max-width, 660);
	width: 100%;

	.close-popup {
		position: absolute;
		@include size(top, 28);
		@include size(right, 28);

		svg {
			@include size(width, 28);
			@include size(height, 28);
		}
	}

	h3 {
		@include size(margin-bottom, 28);
		font-weight: 500;
		@include size(width, 384);
	}

	&.text-centered {
		text-align: center;

		h3 {
			width: 100%;
		}

		.btn {
			@include size(width, 204);
			text-align: center;
			margin-left: auto;
			margin-right: auto;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}

.popup__bird {
	position: absolute;
	right: 0;
	@include size(top, 121);
	@include size(width, 188);
	@include size(height, 172);
}

.popup__form {
	@include size(width, 384);
	display: flex;
	flex-direction: column;
	@include size(gap, 24);
}

.popup__form__bottom {
	display: flex;
	align-items: center;

	.forgot-password {
		@include size(font-size, 16);
		display: flex;
		align-items: center;
		@include size(margin-left, 36);
		svg {
			@include size(width, 24);
			@include size(height, 24);
			flex-shrink: 0;
			@include size(margin-right, 10);
		}
	}
}

span.show-password {
	position: absolute;
	@include size(right, 12);
	@include size(bottom, 10);
	margin-bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	img {
		@include size(width, 28);
		@include size(height, 28);
		&:last-child {
			display: none;
		}
	}

	&.active {
		img {
			&:first-child {
				display: none;
			}

			&:last-child {
				display: block;
			}
		}
	}
}

.error-text {
	@include size(font-size, 16);
	color: #D94141;
	@include size(margin-left, 24);
	opacity: 0;

	&.active {
		opacity: 1;
	}
}

.add-address-modal {
	.popup__form {
		width: 100%;
	}

	h3 {
		width: 100%;
	}

	.btn {
		width: 100%;
		@include size(font-size, 16);
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

.edit-layout__tabs {
	display: flex;
	@include size(gap, 12);
	@include size(margin-bottom, 28);

	.tab {
		@include size(padding-left, 24);
		@include size(padding-right, 24);
	}
}

.edit-layout__result {
	@include size(font-size, 16);
	color: #A0A0A0;
	line-height: 140%;
	@include size(margin-bottom, 28);
	span {
		color: #2C2C2C;
		display: block;
	}
}

.edit-layout {
	.field-wrap {
		textarea {
			@include size(height, 90);
		}
	}

	.popup__form {
		width: 100%;
	}

	.upload {
		@include size(margin-bottom, 28);
	}

	.edit-layout__bottom {
		@include size(margin-top, 28);
		p {
			@include size(font-size, 20);
			font-weight: 600;
			@include size(margin-bottom, 12);
		}

		.btn.outline {
			@include size(padding-top, 12);
			@include size(padding-bottom, 12);
			@include size(padding-right, 28);
			@include size(padding-left, 28);
			border: 1px solid #2C2C2C;
			color: #2C2C2C;
			font-weight: 700;
			@include size(font-size, 16);
			display: block;
			@include size(border-radius, 96);
			width: fit-content;
		}
	}
}

.edit-layout__message {
	display: flex;
	@include size(gap, 24);
	@include size(margin-bottom, 28);
	@include size(padding-bottom, 28);
	border-bottom: 1px solid rgba(62, 62, 62, .15);
	img {
		@include size(width, 64);
		@include size(height, 64);
	}

	p {
		@include size(font-size, 16);
	}

	b {
		@include size(font-size, 16);
		font-weight: 700;
	}
}