mixin popup()
	.overlay.modal.reg-modal
		.popup 
			img(src="./img/bird.svg", alt="").popup__bird
			button(type="button").close-popup.close-modal
				<svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
					<rect width="28" height="28" rx="14" transform="matrix(-1 0 0 1 28 0)" fill="#EEEEEE"/>
					<path d="M18.2426 9.75736L13.9999 14M13.9999 14L9.75729 18.2426M13.9999 14L9.75729 9.75736M13.9999 14L18.2426 18.2426" stroke="#2C2C2C"/>
				</svg>
			h3 Регистрация
			form.popup__form
				label.field-wrap
					span Имя
					input(type="text")  
				label.field-wrap
					span Телефон
					input.input__valid-phone(type="text")  
				label.field-wrap
					span Почта
					input(type="email")  
				.popup__form__bottom 	
					button(type="button").btn.primary Зарегистрироваться
			.signin-modal__signin
				p Войдите, если у вас уже есть аккаунт:
				button(type="button" data-modal-target="signin-modal").btn.primary.close-modal Войти 

	.overlay.modal.signin-modal
		.popup 
			img(src="./img/bird.svg", alt="").popup__bird
			button(type="button").close-popup.close-modal
				<svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
					<rect width="28" height="28" rx="14" transform="matrix(-1 0 0 1 28 0)" fill="#EEEEEE"/>
					<path d="M18.2426 9.75736L13.9999 14M13.9999 14L9.75729 18.2426M13.9999 14L9.75729 9.75736M13.9999 14L18.2426 18.2426" stroke="#2C2C2C"/>
				</svg>
			h3 Войти
			form.popup__form
				label.field-wrap
					span Почта
					input(type="text")  
				label.field-wrap
					span Пароль
					input(type="password")  
				.popup__form__bottom 	
					button(type="button").btn.primary Войти
					a(href="#").forgot-password
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<rect x="0.5" y="0.5" width="23" height="23" rx="11.5" fill="#F2DC00"/>
							<rect x="0.5" y="0.5" width="23" height="23" rx="11.5" stroke="#F2DC00"/>
							<path d="M11.3232 14.1711L16.0918 8.77664L13.3946 6.39231" stroke="#2C2C2C"/>
							<path d="M12.1181 13.272L14.5024 10.5748L11.8052 8.19048" stroke="#2C2C2C"/>
							<circle cx="10.3959" cy="15.22" r="1.9" transform="rotate(-138.523 10.3959 15.22)" stroke="#2C2C2C"/>
						</svg> Забыли пароль?
			.signin-modal__reg 
				p Зарегистрируйтесь, если у вас еще нет аккаунта:
				button(type="button" data-modal-target="reg-modal").btn.primary.close-modal Зарегистрироваться 

	.overlay.modal.forgot-password-modal
		.popup 
			img(src="./img/bird.svg", alt="").popup__bird
			button(type="button").close-popup.close-modal
				<svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
					<rect width="28" height="28" rx="14" transform="matrix(-1 0 0 1 28 0)" fill="#EEEEEE"/>
					<path d="M18.2426 9.75736L13.9999 14M13.9999 14L9.75729 18.2426M13.9999 14L9.75729 9.75736M13.9999 14L18.2426 18.2426" stroke="#2C2C2C"/>
				</svg>
			h3 Восстановление пароля
			form.popup__form
				label.field-wrap
					span Введите почту, указанную при регистрации
					input(type="text")  
				.popup__form__bottom 	
					button(type="button").btn.primary Отправить

	.overlay.modal.change-password-modal
		.popup 
			img(src="./img/bird.svg", alt="").popup__bird
			button(type="button").close-popup.close-modal
				<svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
					<rect width="28" height="28" rx="14" transform="matrix(-1 0 0 1 28 0)" fill="#EEEEEE"/>
					<path d="M18.2426 9.75736L13.9999 14M13.9999 14L9.75729 18.2426M13.9999 14L9.75729 9.75736M13.9999 14L18.2426 18.2426" stroke="#2C2C2C"/>
				</svg>
			h3 Сменить пароль
			form.popup__form
				label.field-wrap
					span Старый пароль
					input(type="password") 
					span.show-password
						img(src="./img/close-eye.svg", alt="") 
						img(src="./img/open-eye.svg", alt="") 

				label.field-wrap
					span Новый пароль
					input(type="password")#new-pass  
					span.show-password
						img(src="./img/close-eye.svg", alt="") 
						img(src="./img/open-eye.svg", alt="") 
				label.field-wrap
					span Повторите новый пароль
					input(type="password")#new-pass-repeat  
					span.show-password
						img(src="./img/close-eye.svg", alt="") 
						img(src="./img/open-eye.svg", alt="") 
				.popup__form__bottom 	
					button(type="button", data-modal-target="confirm-code").btn.primary.close-modal Сохранить
					p.error-text Новые пароли не совпадают!


	.overlay.modal.delete-product
		.popup.text-centered 
			button(type="button").close-popup.close-modal
				<svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
					<rect width="28" height="28" rx="14" transform="matrix(-1 0 0 1 28 0)" fill="#EEEEEE"/>
					<path d="M18.2426 9.75736L13.9999 14M13.9999 14L9.75729 18.2426M13.9999 14L9.75729 9.75736M13.9999 14L18.2426 18.2426" stroke="#2C2C2C"/>
				</svg>
			h3 Действительно хотите удалить&nbsp;продукт?
			.double-field 
				button.btn.outline.tab.close-modal(type="button") Не удалять
				button.btn.primary Удалить
	.overlay.modal.confirm-code
		.popup.text-centered 
			button(type="button").close-popup.close-modal
				<svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
					<rect width="28" height="28" rx="14" transform="matrix(-1 0 0 1 28 0)" fill="#EEEEEE"/>
					<path d="M18.2426 9.75736L13.9999 14M13.9999 14L9.75729 18.2426M13.9999 14L9.75729 9.75736M13.9999 14L18.2426 18.2426" stroke="#2C2C2C"/>
				</svg>
			h3 Код подтверждения<br>выслан на новую почту
			button(type="button").btn.primary.close-modal Ок 
	.overlay.modal.add-address-modal
		.popup 
			button(type="button").close-popup.close-modal
				<svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
					<rect width="28" height="28" rx="14" transform="matrix(-1 0 0 1 28 0)" fill="#EEEEEE"/>
					<path d="M18.2426 9.75736L13.9999 14M13.9999 14L9.75729 18.2426M13.9999 14L9.75729 9.75736M13.9999 14L18.2426 18.2426" stroke="#2C2C2C"/>
				</svg>
			h3 Новый адрес доставки
			form.popup__form
				.field-wrap 
					span Адрес доставки
					input(type="text" placeholder="Введите")
				.double-field 
					.field-wrap 
						span Подъезд
						input.input__valid-number(type="text" placeholder="Введите")
					.field-wrap 
						span Квартира / офис
						input.input__valid-number(type="text" placeholder="Введите")
				.double-field
					button(type="button").btn.outline.tab.close-modal Отменить
					button(type="button").btn.primary Сохранить
	
	.overlay.modal.add-comment
		.popup 
			button(type="button").close-popup.close-modal
				<svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
					<rect width="28" height="28" rx="14" transform="matrix(-1 0 0 1 28 0)" fill="#EEEEEE"/>
					<path d="M18.2426 9.75736L13.9999 14M13.9999 14L9.75729 18.2426M13.9999 14L9.75729 9.75736M13.9999 14L18.2426 18.2426" stroke="#2C2C2C"/>
				</svg>
			h3 Оставьте комментарий

			.double-field.add-comment-info 
					.field-wrap 
						span Мы ответим вам на почту
							b m.keyder@gmail.com
					.field-wrap 
						span Либо позвоните по номеру
							a(href="tel:8 800 000 00 00") 8 800 000 00 00 
			form.popup__form
				.field-wrap 
					span Комментарий
					textarea(placeholder="Дополнительная информация (если требуется)")
				.double-field
					button(type="button").btn.primary Отправить
	
	.overlay.modal.edit-layout
		.popup.tabs-wrapper 
			button(type="button").close-popup.close-modal
				<svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
					<rect width="28" height="28" rx="14" transform="matrix(-1 0 0 1 28 0)" fill="#EEEEEE"/>
					<path d="M18.2426 9.75736L13.9999 14M13.9999 14L9.75729 18.2426M13.9999 14L9.75729 9.75736M13.9999 14L18.2426 18.2426" stroke="#2C2C2C"/>
				</svg>
			h3 Макет не пропущен

			.edit-layout__tabs 
				button(type="button", data-tab="1").btn.tab.outline.active Загрузить отредактированный макет 
				button(type="button", data-tab="2").btn.tab.outline Заказать доработку 

			.tab-content(data-tab="1")
				label.upload
					input(type="file", name="")
					span 
						<svg width="14" height="18" viewBox="0 0 14 18" fill="none" xmlns="http://www.w3.org/2000/svg">
							<g clip-path="url(#clip0_1868_13965)">
							<rect width="14" height="18" fill="#F2DC00"/>
							<rect x="2.5" y="2.5" width="9" height="7" stroke="#2C2C2C"/>
							<path d="M7 6.5L7 15.5" stroke="#2C2C2C"/>
							<path d="M3 12.5L7 15.5L11 12.5" stroke="#2C2C2C"/>
							</g>
							<defs>
							<clipPath id="clip0_1868_13965">
							<rect width="14" height="18" fill="white"/>
							</clipPath>
							</defs>
						</svg> Прикрепите файл

				p.edit-layout__result Результаты проверки макета:
					span Не соблюдены требования макета к печати: разрешение растровых макетов и изображений (встроенных и приложенных в макету) менее 300 dpi"
				form.popup__form
					.field-wrap 
						textarea(placeholder="Ваш комментарий")
					.double-field
						button(type="button").btn.primary Отправить
				.edit-layout__bottom
					p Вы можете создать макет в нашем конструкторе
					a(href="#").btn.outline Создать макет в конструкторе
			.tab-content.hidden(data-tab="2")
				.edit-layout__message 
					img(src="./img/edit-layout-pic.svg", alt="")
					.edit-layout__message__inner 
						p Если вы не хотите самостоятельно дорабатывать макет, наша команда дизайнеров может помочь вам! Мы приведем макет в соответствии с техническими требованиями к печати.
						b Стоимость доработки макета – 600 рублей
				p.edit-layout__result Результаты проверки макета:
					span Не соблюдены требования макета к печати: разрешение растровых макетов и изображений (встроенных и приложенных в макету) менее 300 dpi"
				form.popup__form
					.field-wrap 
						textarea(placeholder="Ваш комментарий")
					.double-field
						button(type="button").btn.primary Отправить


	.overlay.modal.check-order
		.popup
			button(type="button").close-popup.close-modal
				<svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
					<rect width="28" height="28" rx="14" transform="matrix(-1 0 0 1 28 0)" fill="#EEEEEE"/>
					<path d="M18.2426 9.75736L13.9999 14M13.9999 14L9.75729 18.2426M13.9999 14L9.75729 9.75736M13.9999 14L18.2426 18.2426" stroke="#2C2C2C"/>
				</svg>
			h3 Заказ

			.order__right__items 
				.order__right__item 
					.order__right__item__head 
						button.order__right__item__name 
							<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M1 5L10 15L19 5" stroke="#2C2C2C"/>
							</svg>
							span Наклейки
						
					.order__right__item__body 
						
						
						p.hide Размер, мм
							span 100×60
						p.hide Печать
							span Одна краска (1+0)
						p.hide Бумага
							span 300г Touche Cover
						p.hide Макет
							span Наклейки_новые.ai
						p.hide Габариты
							span 0,1 м3
						p.hide Вес, кг
							span 1,2
						p Стоимость
							span 1 000 шт
						p Тираж
							span 10 000 ₽
				.order__right__item 
					.order__right__item__head 
						button.order__right__item__name 
							<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M1 5L10 15L19 5" stroke="#2C2C2C"/>
							</svg>
							span Наклейки
			
					.order__right__item__body 
				
						p.hide Размер, мм
							span 100×60
						p.hide Печать
							span Одна краска (1+0)
						p.hide Бумага
							span 300г Touche Cover
						p.hide Макет
							span Наклейки_новые.ai
						p.hide Габариты
							span 0,1 м3
						p.hide Вес, кг
							span 1,2
						p Стоимость
							span 1 000 шт
						p Тираж
							span 10 000 ₽
						
						img.hide(src="img/profile/maket-big.png", alt="")
			.order__right__bottom 
				p Общие габариты
					span 0,7 м3
				p Общий вес
					span 5,7 кг

				p Дата получения:
					span 29.08.24 16:32

				p Доставка до ПВЗ
					span г. Курган, ​ул. Коли Мяготина, 129​ ПВЗ — СДЭК

				p Способ оплаты
					span Банковский перевод
				p.order__right__bottom__total Общая стоимость
					span 19 720 ₽

	.overlay.modal.notification-window
		.popup
			button(type="button").close-popup.close-modal
				<svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
					<rect width="28" height="28" rx="14" transform="matrix(-1 0 0 1 28 0)" fill="#EEEEEE"/>
					<path d="M18.2426 9.75736L13.9999 14M13.9999 14L9.75729 18.2426M13.9999 14L9.75729 9.75736M13.9999 14L18.2426 18.2426" stroke="#2C2C2C"/>
				</svg>
			h3 Уведомления

			.notification-window__content 
				.notification-window__item.new 
					.notification-window__item__inner 
						p Проверьте исправленные макеты
						span 
							<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
								<rect x="0.5" y="0.5" width="11" height="11" rx="5.5" stroke="#A0A0A0"/>
								<path d="M6 3L6 6L9 6" stroke="#A0A0A0"/>
							</svg> 12 февраля 2025
					button.remove-notification(type="button")
						<svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
							<rect width="28" height="28" rx="14" fill="#EEEEEE"/>
							<path d="M9.66846 18.1662L9.09106 9.5H18.9546L18.3772 18.1662C18.2897 19.4795 17.1989 20.5 15.8827 20.5H12.1629C10.8467 20.5 9.75596 19.4795 9.66846 18.1662Z" fill="#EEEEEE" stroke="#A0A0A0"/>
							<path d="M7 9.38672L21.1914 9.38672" stroke="#A0A0A0"/>
							<line x1="14.1484" y1="12.6667" x2="14.1484" y2="17.3334" stroke="#A0A0A0"/>
							<line x1="16.2734" y1="12.6665" x2="16.2734" y2="17.3332" stroke="#A0A0A0"/>
							<line x1="12.0664" y1="12.6665" x2="12.0664" y2="17.3332" stroke="#A0A0A0"/>
						</svg>
				.notification-window__item 
					.notification-window__item__inner 
						p Проверьте исправленные макеты
						span 
							<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
								<rect x="0.5" y="0.5" width="11" height="11" rx="5.5" stroke="#A0A0A0"/>
								<path d="M6 3L6 6L9 6" stroke="#A0A0A0"/>
							</svg> 12 февраля 2025
					button.remove-notification(type="button")
						<svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
							<rect width="28" height="28" rx="14" fill="#EEEEEE"/>
							<path d="M9.66846 18.1662L9.09106 9.5H18.9546L18.3772 18.1662C18.2897 19.4795 17.1989 20.5 15.8827 20.5H12.1629C10.8467 20.5 9.75596 19.4795 9.66846 18.1662Z" fill="#EEEEEE" stroke="#A0A0A0"/>
							<path d="M7 9.38672L21.1914 9.38672" stroke="#A0A0A0"/>
							<line x1="14.1484" y1="12.6667" x2="14.1484" y2="17.3334" stroke="#A0A0A0"/>
							<line x1="16.2734" y1="12.6665" x2="16.2734" y2="17.3332" stroke="#A0A0A0"/>
							<line x1="12.0664" y1="12.6665" x2="12.0664" y2="17.3332" stroke="#A0A0A0"/>
						</svg>
				.notification-window__item 
					.notification-window__item__inner 
						p Проверьте исправленные макеты
						span 
							<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
								<rect x="0.5" y="0.5" width="11" height="11" rx="5.5" stroke="#A0A0A0"/>
								<path d="M6 3L6 6L9 6" stroke="#A0A0A0"/>
							</svg> 12 февраля 2025
					button.remove-notification(type="button")
						<svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
							<rect width="28" height="28" rx="14" fill="#EEEEEE"/>
							<path d="M9.66846 18.1662L9.09106 9.5H18.9546L18.3772 18.1662C18.2897 19.4795 17.1989 20.5 15.8827 20.5H12.1629C10.8467 20.5 9.75596 19.4795 9.66846 18.1662Z" fill="#EEEEEE" stroke="#A0A0A0"/>
							<path d="M7 9.38672L21.1914 9.38672" stroke="#A0A0A0"/>
							<line x1="14.1484" y1="12.6667" x2="14.1484" y2="17.3334" stroke="#A0A0A0"/>
							<line x1="16.2734" y1="12.6665" x2="16.2734" y2="17.3332" stroke="#A0A0A0"/>
							<line x1="12.0664" y1="12.6665" x2="12.0664" y2="17.3332" stroke="#A0A0A0"/>
						</svg>

				.notification-window__item 
					.notification-window__item__inner 
						p Проверьте исправленные макеты пример длинного заголовка уведомления в три строки
						span 
							<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
								<rect x="0.5" y="0.5" width="11" height="11" rx="5.5" stroke="#A0A0A0"/>
								<path d="M6 3L6 6L9 6" stroke="#A0A0A0"/>
							</svg> 12 февраля 2025
					button.remove-notification(type="button")
						<svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
							<rect width="28" height="28" rx="14" fill="#EEEEEE"/>
							<path d="M9.66846 18.1662L9.09106 9.5H18.9546L18.3772 18.1662C18.2897 19.4795 17.1989 20.5 15.8827 20.5H12.1629C10.8467 20.5 9.75596 19.4795 9.66846 18.1662Z" fill="#EEEEEE" stroke="#A0A0A0"/>
							<path d="M7 9.38672L21.1914 9.38672" stroke="#A0A0A0"/>
							<line x1="14.1484" y1="12.6667" x2="14.1484" y2="17.3334" stroke="#A0A0A0"/>
							<line x1="16.2734" y1="12.6665" x2="16.2734" y2="17.3332" stroke="#A0A0A0"/>
							<line x1="12.0664" y1="12.6665" x2="12.0664" y2="17.3332" stroke="#A0A0A0"/>
						</svg>

				.notification-window__item 
					.notification-window__item__inner 
						p Проверьте исправленные макеты
						span 
							<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
								<rect x="0.5" y="0.5" width="11" height="11" rx="5.5" stroke="#A0A0A0"/>
								<path d="M6 3L6 6L9 6" stroke="#A0A0A0"/>
							</svg> 12 февраля 2025
					button.remove-notification(type="button")
						<svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
							<rect width="28" height="28" rx="14" fill="#EEEEEE"/>
							<path d="M9.66846 18.1662L9.09106 9.5H18.9546L18.3772 18.1662C18.2897 19.4795 17.1989 20.5 15.8827 20.5H12.1629C10.8467 20.5 9.75596 19.4795 9.66846 18.1662Z" fill="#EEEEEE" stroke="#A0A0A0"/>
							<path d="M7 9.38672L21.1914 9.38672" stroke="#A0A0A0"/>
							<line x1="14.1484" y1="12.6667" x2="14.1484" y2="17.3334" stroke="#A0A0A0"/>
							<line x1="16.2734" y1="12.6665" x2="16.2734" y2="17.3332" stroke="#A0A0A0"/>
							<line x1="12.0664" y1="12.6665" x2="12.0664" y2="17.3332" stroke="#A0A0A0"/>
						</svg>

				.notification-window__item 
					.notification-window__item__inner 
						p Проверьте исправленные макеты
						span 
							<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
								<rect x="0.5" y="0.5" width="11" height="11" rx="5.5" stroke="#A0A0A0"/>
								<path d="M6 3L6 6L9 6" stroke="#A0A0A0"/>
							</svg> 12 февраля 2025
					button.remove-notification(type="button")
						<svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
							<rect width="28" height="28" rx="14" fill="#EEEEEE"/>
							<path d="M9.66846 18.1662L9.09106 9.5H18.9546L18.3772 18.1662C18.2897 19.4795 17.1989 20.5 15.8827 20.5H12.1629C10.8467 20.5 9.75596 19.4795 9.66846 18.1662Z" fill="#EEEEEE" stroke="#A0A0A0"/>
							<path d="M7 9.38672L21.1914 9.38672" stroke="#A0A0A0"/>
							<line x1="14.1484" y1="12.6667" x2="14.1484" y2="17.3334" stroke="#A0A0A0"/>
							<line x1="16.2734" y1="12.6665" x2="16.2734" y2="17.3332" stroke="#A0A0A0"/>
							<line x1="12.0664" y1="12.6665" x2="12.0664" y2="17.3332" stroke="#A0A0A0"/>
						</svg>

				.notification-window__item 
					.notification-window__item__inner 
						p Проверьте исправленные макеты
						span 
							<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
								<rect x="0.5" y="0.5" width="11" height="11" rx="5.5" stroke="#A0A0A0"/>
								<path d="M6 3L6 6L9 6" stroke="#A0A0A0"/>
							</svg> 12 февраля 2025
					button.remove-notification(type="button")
						<svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
							<rect width="28" height="28" rx="14" fill="#EEEEEE"/>
							<path d="M9.66846 18.1662L9.09106 9.5H18.9546L18.3772 18.1662C18.2897 19.4795 17.1989 20.5 15.8827 20.5H12.1629C10.8467 20.5 9.75596 19.4795 9.66846 18.1662Z" fill="#EEEEEE" stroke="#A0A0A0"/>
							<path d="M7 9.38672L21.1914 9.38672" stroke="#A0A0A0"/>
							<line x1="14.1484" y1="12.6667" x2="14.1484" y2="17.3334" stroke="#A0A0A0"/>
							<line x1="16.2734" y1="12.6665" x2="16.2734" y2="17.3332" stroke="#A0A0A0"/>
							<line x1="12.0664" y1="12.6665" x2="12.0664" y2="17.3332" stroke="#A0A0A0"/>
						</svg>


	.overlay.modal.notification-window-empty
		.popup
			button(type="button").close-popup.close-modal
				<svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
					<rect width="28" height="28" rx="14" transform="matrix(-1 0 0 1 28 0)" fill="#EEEEEE"/>
					<path d="M18.2426 9.75736L13.9999 14M13.9999 14L9.75729 18.2426M13.9999 14L9.75729 9.75736M13.9999 14L18.2426 18.2426" stroke="#2C2C2C"/>
				</svg>
			h3 Уведомления

			.notification-window__content.empty
				<svg width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
					<rect width="46" height="46" rx="23" fill="#EEEEEE"/>
					<path d="M24.0231 14.1871C24.0678 14.9964 23.6037 15.0019 23.0925 14.9093C22.5271 14.9742 22.0622 15.0046 22.0968 14.2304C22.13 13.4754 22.482 12.9519 23.0783 13.0035C23.7689 13.0637 23.9869 13.5281 24.0231 14.1871Z" fill="#A0A0A0"/>
					<path d="M29.5091 27.5293L29.51 27.5311C29.6408 27.8213 29.7717 28.1116 29.8831 28.4045C29.926 28.5168 29.9666 28.63 30.007 28.7435L30.0221 28.786C30.0421 28.8423 30.0621 28.8987 30.0824 28.955L30.1176 29.0517C30.1058 29.0748 30.0942 29.0978 30.0834 29.1212C30.0476 29.1608 30.0142 29.2024 29.9832 29.2459C29.9546 29.2538 29.926 29.262 29.8975 29.2702C29.7115 29.3232 29.5254 29.3763 29.3389 29.3763C27.7381 29.3879 26.1391 29.3866 24.5391 29.3853C24.0335 29.3849 23.5279 29.3845 23.0221 29.3845L21.5562 29.3852C19.9387 29.3863 18.322 29.3874 16.7053 29.3763C16.5342 29.3753 16.3636 29.322 16.193 29.2687L16.1521 29.2559L16.1079 29.2423C16.0945 29.2093 16.0794 29.177 16.0628 29.1455C16.0439 29.1098 16.0229 29.0752 16 29.0419C16.0068 29.0152 16.0133 28.9882 16.0199 28.9612L16.0201 28.9606C16.0622 28.7876 16.1045 28.6141 16.198 28.4791C17.0115 27.292 17.3877 25.9811 17.3781 24.5428C17.3697 23.3936 17.3662 22.244 17.3781 21.0944C17.3929 19.5861 17.9933 18.1444 19.0492 17.082C20.105 16.0195 21.5312 15.4219 23.0186 15.4187C26.1373 15.4046 28.6675 17.8687 28.7426 21.01C28.7547 21.5186 28.7502 22.029 28.7457 22.5393C28.7367 23.5652 28.7276 24.5904 28.854 25.5986C28.9366 26.2596 29.2228 26.8943 29.5091 27.5293Z" fill="#A0A0A0"/>
					<path d="M24.2538 29.8794C23.9435 29.8777 23.6331 29.8796 23.3227 29.8814C22.7738 29.8846 22.2251 29.8878 21.677 29.8716C21.1994 29.8576 21.0064 30.0693 20.949 30.5263C20.79 31.7857 21.7047 32.9243 22.955 32.9966C24.1613 33.0661 25.187 32.065 25.1817 30.8232C25.1782 30.031 25.0384 29.8837 24.2538 29.8794Z" fill="#A0A0A0"/>
				</svg>
				span Нет уведомлений
 
	.overlay.modal.change-layout
		.popup
			button(type="button").close-popup.close-modal
				<svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
					<rect width="28" height="28" rx="14" transform="matrix(-1 0 0 1 28 0)" fill="#EEEEEE"/>
					<path d="M18.2426 9.75736L13.9999 14M13.9999 14L9.75729 18.2426M13.9999 14L9.75729 9.75736M13.9999 14L18.2426 18.2426" stroke="#2C2C2C"/>
				</svg>
			h3 Доработка макета

			p Наши дизайнеры доработали макет исходя из технических требований к печати. 
			p
				b Если согласны с доработками — нажмите «Согласен»
			
			.change-layout__picture 
				a.change-layout__download(href="#")
					<svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
						<rect width="28" height="28" rx="14" fill="#EEEEEE"/>
						<line x1="6.5" y1="13.1875" x2="6.5" y2="17.1875" stroke="#2C2C2C"/>
						<line x1="21.5" y1="13.1875" x2="21.5" y2="17.1875" stroke="#2C2C2C"/>
						<line x1="18.5" y1="19.6875" x2="9.5" y2="19.6875" stroke="#2C2C2C"/>
						<path d="M9.5 19.6875C9.10603 19.6875 8.71593 19.6099 8.35195 19.4591C7.98797 19.3084 7.65726 19.0874 7.37868 18.8088C7.1001 18.5302 6.87913 18.1995 6.72836 17.8356C6.5776 17.4716 6.5 17.0815 6.5 16.6875" stroke="#2C2C2C"/>
						<path d="M18.5 19.6875C18.894 19.6875 19.2841 19.6099 19.6481 19.4591C20.012 19.3084 20.3427 19.0874 20.6213 18.8088C20.8999 18.5302 21.1209 18.1995 21.2716 17.8356C21.4224 17.4716 21.5 17.0815 21.5 16.6875" stroke="#2C2C2C"/>
						<path d="M18.6875 10.6875L14 15.6875L9.6875 10.6875" stroke="#2C2C2C"/>
						<path d="M14 5.375L14 15.1875" stroke="#2C2C2C"/>
					</svg>

				img(src="./img/profile/maket-big.png", alt="")
			p.change-layout__name Визитки на конференцию.ai

			.change-layout__bottom 
				button(type="button").btn.primary Согласен
				button(type="button" data-modal-target="add-comment-2").btn.outline.tab.close-modal Не согласен

	.overlay.modal.add-comment-2
		.popup 
			button(type="button").close-popup.close-modal
				<svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
					<rect width="28" height="28" rx="14" transform="matrix(-1 0 0 1 28 0)" fill="#EEEEEE"/>
					<path d="M18.2426 9.75736L13.9999 14M13.9999 14L9.75729 18.2426M13.9999 14L9.75729 9.75736M13.9999 14L18.2426 18.2426" stroke="#2C2C2C"/>
				</svg>
			h3 Опишите, что требуется доработать
			form.popup__form
				.field-wrap 
					span Комментарий
					textarea(placeholder="Дополнительная информация (если требуется)")
				p.change-layout__name Визитки на конференцию.ai
				.change-layout__bottom 
					button(type="button").btn.primary Отправить
					button(type="button" data-modal-target="change-layout").btn.outline.tab.close-modal Назад