@use "src/scss/common/files/mixins" as *;

.article-card {
  @include border-radius(20);
  border: 1px solid var(--line-color);
  @include padding(10);
  display: flex;
  @include size(gap, 48);
  @media (max-width: $tab-sm) {
    @include size(gap, 24);
    flex-direction: column;
  }
  &.sm {
    @include size(gap, 20);
    @media (max-width: $tab-sm) {
      flex-direction: row;
      @include size(gap, 12);
    }
    .image-wrapper {
      @include border-radius(12);
      @include size(min-width, 96);
      @include size(min-height, 96);
      @include size(max-width, 96);
      @include size(max-height, 96);
      @media (max-width: $tab-sm) {
        @include size(min-width, 80);
        @include size(min-height, 80);
        @include size(max-width, 80);
        @include size(max-height, 80);
      }
    }
    .content {
      @include padding(10, 10, 10, 0);
      justify-content: flex-start;
      @include size(gap, 12);

      h6 {
        @include body-mb;
      }
    }
  }
  .image-wrapper {
    @include border-radius(12);
    @include size(min-width, 194);
    @include size(min-height, 194);
    @include size(max-width, 194);
    @include size(max-height, 194);
    @media (max-width: $tab-sm) {
      @include size(min-width, 292);
      @include size(min-height, 292);
      @include size(max-width, 292);
      @include size(max-height, 292);
    }
    overflow: hidden;
    position: relative;
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .content {
    @include padding(38, 38, 38, 0);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (max-width: $tab-sm) {
      @include padding(0, 6, 32, 6);
      @include size(gap, 16);
    }
  }
}
