@use "src/scss/common/files/mixins" as *;

.article-card {
  @include border-radius(20);
  border: 1px solid var(--line-color);
  @include padding(10);
  display: flex;
  @include size(gap, 48);
  .image-wrapper {
    @include border-radius(12);
    @include size(min-width, 194);
    @include size(min-height, 194);
    @include size(max-width, 194);
    @include size(max-height, 194);

    overflow: hidden;
    position: relative;
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .content {
    @include padding(38, 38, 38, 0);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
