@use "src/scss/common/files/mixins" as *;

.accordion-item.active {
  &.acc-nav {
    .accordion-title {
      .icon {
        transform: rotate(180deg);
      }
    }
  }
  &.step-accord {
    .accordion-title {
      .icon {
        transform: rotate(180deg);
      }
    }
  }
  .accordion-title {
    .icon {
      transform: rotate(45deg);
    }
  }
}
.accordion-item {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: var(--trs-cubic-600);
  &.step-accord {
    border: 1px solid var(--line-color);
    @include size(border-radius, 20);
    &.selected {
      border-color: var(--gray-color);
      .delete-icon {
        opacity: 1 !important;
        pointer-events: all !important;
      }
    }
    .accordion-title {
      justify-content: flex-start;
      @include size(gap, 12);
      @include size(padding-bottom, 23);
      @include size(padding-top, 23);
      @include size(padding-left, 21);
      @include size(padding-right, 68);
      position: relative;
      .title-wrapper {
        justify-content: space-between;
        display: flex;
        width: 100%;
        .left {
          display: flex;
          align-items: center;
          @include size(gap, 12);
          .hint {
            @include size(width, 18);
            @include size(height, 18);
            border: 1px solid var(--gray-color);
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 9999px;
            font-weight: 500;
            font-size: calc(10 / var(--screensize) * 100vw);
            line-height: calc(12 / var(--screensize) * 100vw);
            pointer-events: all;
          }
        }
        h6 {
          @include body-mb;
        }
        .price {
          @include body-mb;
        }
      }
      .delete-icon {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        @include size(right, 20);
        display: flex;
        align-items: center;
        pointer-events: none;
        opacity: 0;
        transition: var(--trs-cubic-600);
      }
    }
    .collapse {
      @include size(padding-left, 52);
      @include size(padding-right, 48);
      @include size(padding-bottom, 28);
      display: flex;
      flex-direction: column;
      @include size(gap, 12);
      label {
        display: flex;
        @include size(gap, 12);
        cursor: pointer;
        align-items: center;
      }
      textarea {
        resize: none;
        @include size(height, 143);
        @include size(margin-top, 8);
      }
      .btn {
        @include size(height, 46);
        @include size(width, 204);
        justify-content: center;
        @include body-mb;
      }
    }
  }
  &.outline {
    border: 1px solid var(--line-color);
    @include size(border-radius, 20);
    .accordion-title {
      @include size(padding-bottom, 20);
      @include size(padding-top, 20);
      @include size(padding-left, 28);
      @include size(padding-right, 28);
      @media (max-width: $tab-sm) {
        @include padding(20);
        align-items: flex-start;
      }
      .title-wrapper {
        @media (max-width: $tab-sm) {
          flex-direction: column;
          align-items: flex-start;
          @include size(gap, 16);

          h6 {
            text-align: left;
          }
        }
      }
      .icon {
        @media (max-width: $tab-sm) {
          @include size(max-width, 28);
          @include size(max-height, 28);
          @include size(min-width, 28);
          @include size(min-height, 28);
        }
        svg {
          width: 100%;
          height: 100%;
        }
      }
    }
    .collapse {
      flex-direction: column;
      @include size(padding-bottom, 70);
      @include size(padding-left, 114);
      @include size(padding-right, 48);
      display: flex;
      flex-direction: column;
      @include size(gap, 36);
      @media (max-width: $tab-sm) {
        @include size(padding-bottom, 24);
        @include size(padding-left, 20);
        @include size(padding-right, 20);
      }
      .text-wrapper {
        span {
          @include body-mb;
        }
        .text {
          display: flex;
          flex-direction: column;
          @include size(gap, 10);
          p {
            @include body-m;
          }
        }
        ul {
          list-style: none;
          display: flex;
          flex-direction: column;
          @include size(gap, 6);
          @include size(margin-top, 16);

          li {
            position: relative;
            @include size(padding-left, 30);

            &:before {
              content: "";
              position: absolute;
              left: 0;
              @include size(width, 8);
              @include size(top, 7);
              @include size(height, 8);
              background: var(--accent-color);
              border-radius: 999px;
            }
          }
        }
      }
      .image-wrapper {
        position: relative;
        @include size(width, 726);
        @include size(height, 510);
        @include size(border-radius, 20);
        @media (max-width: $tab-sm) {
          @include size(width, 272);
          @include size(height, 191);
        }
        overflow: hidden;
        img {
          position: absolute;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
  .title-wrapper {
    display: flex;
    align-items: center;
    @include size(gap, 28);
    pointer-events: none;
    img {
      @include size(width, 56);
      @include size(height, 56);
      border-radius: 9999px;
    }
  }
  .accordion-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include size(gap, 20);
    transition: var(--trs-cubic-600);

    .icon {
      transition: var(--trs-cubic-600);
    }
  }
  .collapse {
    transition: var(--trs-cubic-600);
    display: flex;
    align-items: flex-start;
  }
}
