@use "src/scss/common/files/mixins" as *;

.catalog {
  overflow: hidden;
  &.hasSelector {
    .tabs {
      @media (max-width: $tab-sm) {
        display: none;
      }
    }
    .tabs-selector {
      display: none;
      @media (max-width: $tab-sm) {
        display: block;
      }
    }
    .catalog-list {
      @media (max-width: $tab-sm) {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        @include size(gap, 16);
        @include size(margin-top, 24);
      }
    }
  }
  .tab-wrapper {
    @include size(padding-top, 36);
    display: flex;
    justify-content: space-between;
    @media (max-width: $tab-sm) {
      flex-direction: column;
      @include size(gap, 24);
      @include size(padding-top, 24);
    }

    .tabs {
      display: flex;
      align-items: center;
      @include size(gap, 10);
      flex-wrap: wrap;
    }
    .link {
      height: calc(46 / var(--screensize) * 100vw) !important;
      font-weight: 700 !important;
      font-size: calc(16 / var(--screensize) * 100vw) !important;
      line-height: calc(22 / var(--screensize) * 100vw) !important;
      @media (max-width: $tab-sm) {
        width: fit-content;
      }
    }
  }
  .catalog-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    @include size(gap, 24);
    @include size(margin-top, 36);
    @media (max-width: $tab-sm) {
      display: none;
    }
  }
  .catalog-swiper {
    display: none;
    @include size(margin-top, 24);

    @media (max-width: $tab-sm) {
      display: block;
    }
    .swiper-slide {
      height: auto;
    }
  }
  .btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    @include size(margin-top, 36);
    @media (max-width: $tab-sm) {
      &.hidden {
        display: none;
      }
    }
  }
}
