mixin catalog(data)
    .catalog.tabs-wrapper
        h1 #{data.title}
        .tab-wrapper
            .tabs 
                button.btn.tab.active(data-tab='0') Все
                button.btn.tab(data-tab='1') 
                    p Для офиса
                button.btn.tab(data-tab='2') 
                    p Для мероприятий
                button.btn.tab(data-tab='3') 
                    p Для HoReCa
                button.btn.tab(data-tab='4') 
                    p Упаковка
                button.btn.tab(data-tab='5') 
                    p POS материалы
            a(href="#").btn.primary.link В каталог
        .catalog-list
            +catalog-card({img: './img/catalog/1.jpg', title: 'Визитные карточки', tabs: '0 1 2'})
            +catalog-card({img: './img/catalog/2.jpg', title: 'Листовки и буклеты', tabs: '0 2 3'})
            +catalog-card({img: './img/catalog/3.jpg', title: 'Наклейки', tabs: '0 1 4'})
            +catalog-card({img: './img/catalog/4.jpg', title: 'Брошюры и каталоги', tabs: '0 3 5'})
            +catalog-card({img: './img/catalog/5.jpg', title: 'Открытки и пригласительные', tabs: '0 4'})
            +catalog-card({img: './img/catalog/6.jpg', title: 'Блокноты', tabs: '0 2 3'})
            +catalog-card({img: './img/catalog/7.jpg', title: 'Полиграфия для офиса', tabs: '0 1 5'})
            +catalog-card({img: './img/catalog/8.jpg', title: 'Календари', tabs: '0 1 2'})
            +catalog-card({img: './img/catalog/9.jpg', title: 'Печать с отделкой на нестандартных бумагах', tabs: '0 5'})
        .btn-wrapper 
            button.btn.load-more.load.white Показать ещё