@use "src/scss/common/files/mixins" as *;

.delivery {
  @include size(padding-top, 128);
  @media (max-width: $tab-sm) {
    @include size(padding-top, 48);
  }
  .delivery-inner {
    display: grid;
    @include size(gap, 230);
    @include grid-columns(220, 888);
    @media (max-width: $tab-sm) {
      grid-template-columns: 1fr;
      @include size(gap, 16);
    }
    .title-block {
      p {
        @include h1;
      }
    }
    .content-block {
      display: flex;
      flex-direction: column;
      @include size(gap, 12);
    }
  }
}
