@use "src/scss/common/files/mixins" as *;

.category-about {
  @include size(margin-top, 96);
  .category-about-inner {
    display: grid;
    @include grid-columns(407, 890);
    @include size(gap, 47);
    @media (max-width: $tab-sm) {
      grid-template-columns: repeat(1, 1fr);
      @include size(gap, 24);
    }
    .image-wrapper {
      @include size(width, 407);
      @include size(height, 407);
      overflow: hidden;
      @include border-radius(12);
      @media (max-width: $tab-sm) {
        @include size(width, 312);
        @include size(height, 312);
      }
      //   position: relative;
      img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .text-block {
      h2 {
        @media (max-width: $tab-sm) {
          @include size(font-size, 28);
          line-height: 110%;
        }
      }
      .text {
        @include size(margin-top, 28);
        display: flex;
        flex-direction: column;
        @include size(gap, 10);
        p {
          @include body-m;
        }
      }

      .show-text {
        @include size(margin-top, 20);
      }
      .alert {
        @include size(margin-top, 28);
        @include padding(28);
        display: flex;
        @include size(gap, 20);
        border: 1px solid var(--line-color);
        @include border-radius(20);
        @media (max-width: $tab-sm) {
          flex-direction: column;
          @include padding(20);
        }
        img {
          @include size(width, 64);
          @include size(height, 64);
        }
        p {
          @include body-l;
          @media (max-width: $tab-sm) {
            @include body-mb;
          }
        }
      }
    }
  }
}
