mixin category-about()
    .category-about
        .category-about-inner.container
            .image-block 
                .image-wrapper.sticky-block
                    img(src="./img/category/category-about/img.jpg", alt="category")
            .text-block
                h2 Качественная визитная карточка — <br>ваш надёжный помощник.
                .text 
                    p Иногда успех в бизнесе зависит от, казалось бы, сущих мелочей, например, от того, какое впечатление вы производите на переговорах и даже от того, какая у вас визитная карточка. 
                    p Не секрет, что многие считают красивую визитку дополнительным аргументом «за» или «против» сотрудничества с определённой организацией. Поэтому людям, ведущим активную бизнес-политику стоит задуматься о том, чтобы всегда оставаться «вооружёнными».
                    p Недорогая печать визиток в Москве — это не миф, а реальность. Заказать изготовление визиток дешево можно здесь.
                .alert 
                    img(src="./img/info/order/quot.svg", alt="quote")
                    p «Принтомат» ориентируется на европейские стандарты качества. Репутация и мнение клиентов для нас важнее всего, потому невысокая цена и отменный уровень изготовления полиграфической продукции — это именно то, что может предоставить «Принтомат».

