mixin info-content()
    .info-content
        .info-content-inner.container
            h1 Полезная информация
            .tabs 
                a(href='info.html').btn.tab.outline.active Подготовка макетов
                a(href='info-order.html').btn.tab.outline Как сделать заказ
                a(href='info-templates.html').btn.tab.outline Шаблоны макетов
                a(href='info-articles.html').btn.tab.outline Статьи
            +selector({name: 'info-tabs', title:'Подготовка макетов',  class: 'primary', items: [
                {title: 'Подготовка макетов', href: 'info.html' },
                {title: 'Как сделать заказ',href: 'info-order.html' },
                {title: 'Шаблоны макетов', href: 'info-templates.html'},
                {title: 'Статьи', href: 'info-articles.html'},
            ],isLinkSelector: true})
            .tab-content.grid
                .list-wrapper
                    ul.sticky-block 
                        li.info-list-item.active Форматы файлов
                        li.info-list-item Размер макета
                        li.info-list-item Припуски под обрез (вылеты)
                        li.info-list-item Отступы от края
                        li.info-list-item Разрешение
                        li.info-list-item Цвет
                        li.info-list-item Текст
                        li.info-list-item Брошюры на скрепке
                        li.info-list-item Брошюры на клеевом скреплении
                        li.info-list-item Лифлеты и буклеты
                        li.info-list-item Квартальные календари
                        li.info-list-item Печать открыток (картон 270 г)
                        li.info-list-item Макеты для печати на ризографе
                        li.info-list-item Размещение логотипа
                        li.info-list-item Ролл-ап
                        li.info-list-item Конверты
                        li.info-list-item Шуберы/Обечайки
                        li.info-list-item Послепечатные операции
                        li.info-list-item Вывод PDF из Adobe Illustrator
                        li.info-list-item Вывод PDF из Corel Draw
                        li.info-list-item Макеты для наклеек
                        li.info-list-item Печать на пластике
                        li.info-list-item Фольгирование
                        li.info-list-item Тиснение фольгой
                        li.info-list-item Высокая печать
                        li.info-list-item Сублимационная печать на кружках
                        li.info-list-item Шелкография (трафаретная печать)
                        li.info-list-item Печати и штампы
                        li.info-list-item Лазерная гравировка
                        li.info-list-item Грамоты/Дипломы
                .tab-content-list.templates-list 
                    .tab-content-item.templates-item 
                        h6 Форматы файлов
                        .text 
                            p Часы тикают, отсчитывая моменты, которые складываются в дни, месяцы, годы. Время беспрерывно течет, как река, несущая нас через неизведанные пейзажи бытия. Солнце мягко пробивается сквозь их, создавая игру света и тени на земле. Где-то вдалеке слышен щебет птиц, наполняющий воздух ощущением жизни. Часы тикают, отсчитывая моменты, которые складываются в дни, месяцы, годы. Время беспрерывно течет, как река, несущая нас через неизведанные пейзажи бытия.
                        ul 
                            li Быстрая и эффективная печать со скоростью 100 стр/мин на носителях плотностью от 52 до 400 г/м²
                            li Соответствие новейшим мировым и отраслевым стандартам и профессиональное управление цветопередачей.
                            li Встроенный контроллер Konica Minolta Hikari
                            li Поддержка JDF, APPE и Pantone, совместимость с контроллерами Fiery и Creo
                    .tab-content-item.templates-item 
                        h6 Основные требования к макетам
                        ul 
                            li При возникновении брака ввиду несоблюдения технических требований, вся ответственность ложится на сторону, предоставившую некорректный макет;

                            li Макеты, не соответствующие данным требованиям, могут быть незначительно доработаны типографией во избежание брака без согласования с заказчиком.

                            li При печати на фактурных бумагах (лён) на участках, где присутствуют заливки или фон, могут быть выпадения краски (неравномерная запечатка).
                        .mail-block 
                            img(src="./img/mail-icon.svg", alt="mail")
                            p Если возникнут вопросы по макетам, напишите нам на почту <br>
                                a(href="mailto:prepress@printomat.ru") prepress@printomat.ru            
                    .tab-content-item.templates-item 
                        h6 Размер макета
                        .text 
                            p Размер макета нужно указывать только в развёрнутом виде, до фальцовки (кроме брошюр).
                        .image-wrapper 
                            img(src="./img/info/templates/img.jpg", alt="info")
                    .tab-content-item.templates-item 
                        h6 Припуски под обрез (вылеты)
                        .text 
                            p Часы тикают, отсчитывая моменты, которые складываются в дни, месяцы, годы. Время беспрерывно течет, как река, несущая нас через неизведанные пейзажи бытия. Солнце мягко пробивается сквозь их, создавая игру света и тени на земле. Где-то вдалеке слышен щебет птиц, наполняющий воздух ощущением жизни. Часы тикают, отсчитывая моменты, которые складываются в дни, месяцы, годы. Время беспрерывно течет, как река, несущая нас через неизведанные пейзажи бытия.
                        ul 
                            li Быстрая и эффективная печать со скоростью 100 стр/мин на носителях плотностью от 52 до 400 г/м²
                            li Соответствие новейшим мировым и отраслевым стандартам и профессиональное управление цветопередачей.
                            li Встроенный контроллер Konica Minolta Hikari
                            li Поддержка JDF, APPE и Pantone, совместимость с контроллерами Fiery и Creo
                        .image-wrapper 
                            img(src="./img/info/templates/img.jpg", alt="info")
                        .mail-block 
                            img(src="./img/mail-icon.svg", alt="mail")
                            p Если возникнут вопросы по макетам, напишите нам на почту <br>
                                a(href="mailto:prepress@printomat.ru") prepress@printomat.ru   
                    .tab-content-item.templates-item 
                        h6 Форматы файлов
                        .text 
                            p Часы тикают, отсчитывая моменты, которые складываются в дни, месяцы, годы. Время беспрерывно течет, как река, несущая нас через неизведанные пейзажи бытия. Солнце мягко пробивается сквозь их, создавая игру света и тени на земле. Где-то вдалеке слышен щебет птиц, наполняющий воздух ощущением жизни. Часы тикают, отсчитывая моменты, которые складываются в дни, месяцы, годы. Время беспрерывно течет, как река, несущая нас через неизведанные пейзажи бытия.
                        ul 
                            li Быстрая и эффективная печать со скоростью 100 стр/мин на носителях плотностью от 52 до 400 г/м²
                            li Соответствие новейшим мировым и отраслевым стандартам и профессиональное управление цветопередачей.
                            li Встроенный контроллер Konica Minolta Hikari
                            li Поддержка JDF, APPE и Pantone, совместимость с контроллерами Fiery и Creo
                    .tab-content-item.templates-item 
                        h6 Основные требования к макетам
                        ul 
                            li При возникновении брака ввиду несоблюдения технических требований, вся ответственность ложится на сторону, предоставившую некорректный макет;

                            li Макеты, не соответствующие данным требованиям, могут быть незначительно доработаны типографией во избежание брака без согласования с заказчиком.

                            li При печати на фактурных бумагах (лён) на участках, где присутствуют заливки или фон, могут быть выпадения краски (неравномерная запечатка).
                        .mail-block 
                            img(src="./img/mail-icon.svg", alt="mail")
                            p Если возникнут вопросы по макетам, напишите нам на почту <br>
                                a(href="mailto:prepress@printomat.ru") prepress@printomat.ru            
                    .tab-content-item.templates-item 
                        h6 Размер макета
                        .text 
                            p Размер макета нужно указывать только в развёрнутом виде, до фальцовки (кроме брошюр).
                        .image-wrapper 
                            img(src="./img/info/templates/img.jpg", alt="info")
                    .tab-content-item.templates-item 
                        h6 Припуски под обрез (вылеты)
                        .text 
                            p Часы тикают, отсчитывая моменты, которые складываются в дни, месяцы, годы. Время беспрерывно течет, как река, несущая нас через неизведанные пейзажи бытия. Солнце мягко пробивается сквозь их, создавая игру света и тени на земле. Где-то вдалеке слышен щебет птиц, наполняющий воздух ощущением жизни. Часы тикают, отсчитывая моменты, которые складываются в дни, месяцы, годы. Время беспрерывно течет, как река, несущая нас через неизведанные пейзажи бытия.
                        ul 
                            li Быстрая и эффективная печать со скоростью 100 стр/мин на носителях плотностью от 52 до 400 г/м²
                            li Соответствие новейшим мировым и отраслевым стандартам и профессиональное управление цветопередачей.
                            li Встроенный контроллер Konica Minolta Hikari
                            li Поддержка JDF, APPE и Pantone, совместимость с контроллерами Fiery и Creo
                        .image-wrapper 
                            img(src="./img/info/templates/img.jpg", alt="info")
                        .mail-block 
                            img(src="./img/mail-icon.svg", alt="mail")
                            p Если возникнут вопросы по макетам, напишите нам на почту <br>
                                a(href="mailto:prepress@printomat.ru") prepress@printomat.ru   