mixin production-about()
    .production-about
        .production-about-inner.container 
            h1 Производство
            h4 Факторы, снижающие затраты на изготовление продукции
            .production-about-list 
                .production-item
                    .content
                        h6 Оптимальные бизнес процессы
                        .text 
                            p ERP система позволяет максимально автоматизировать обработку заказов и скоординировать производственный процесс.
                            p Инвестиции в разработку схемы рабочего потока и системы управления им.
                    .image-wrapper 
                        img(src="./img/production/about/1.jpg", alt="production")
                .production-item
                    .content
                        h6 Современные материалы <br>и высококлассное оборудование
                        .text 
                            p Дорогая техника увеличивает скорость изготовления продукции. Оборудование и материалы высокого качества требуют меньше краски, сокращает количество брака и отходов производства.
                    .image-wrapper 
                        img(src="./img/production/about/2.jpg", alt="production")
                .production-item
                    .content
                        h6 Выгодные условия <br>с поставщиками
                        .text 
                            p Эффективные контракты с поставщиками, позволяющим получать бумагу, другие материалы по низким ценам.
                    .image-wrapper 
                        img(src="./img/production/about/3.jpg", alt="production")
                .production-item
                    .content
                        h6 Минимум персонала
                        .text 
                            p Отсутствие менеджеров, обрабатывающих заказы на полиграфические услуги. Клиент самостоятельно выбирает продукт, параметры, дополнительные опции.
                    .image-wrapper 
                        img(src="./img/production/about/4.jpg", alt="production")
                .production-item
                    .content
                        h6 Сборные тиражи
                        .text 
                            p Печать сборных тиражей. Изделия разных форматов мы размещаем на больших печатных листах. Способ позволяет эффективно использовать бумагу, рабочее время людей и машин, производить больше продукции с незначительным уровнем отходов.
                    .image-wrapper 
                        img(src="./img/production/about/5.jpg", alt="production")
            h5 Совокупность всех этих факторов, а также правильная организация процесса снижает стоимость производства по сравнению с дешевым устаревшим оборудованием.
            .birds 
                img(src="./img/production/about/bird1.svg", alt="bird")
                img(src="./img/production/about/bird2.svg", alt="bird")