@use "src/scss/common/files/mixins" as *;

.cart-button {
  position: fixed;
  @include size(bottom, 20);
  @include size(right, 31);
  @include size(width, 56);
  @include size(height, 56);
  border-radius: 999px;
  background: var(--accent-color);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
  span {
    @include size(width, 20);
    @include size(height, 20);
    background: var(--gray-color);
    border-radius: 999px;
    color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    @include size(top, -3);
    @include size(right, -3);
    @include body-xs;
  }
}
