@use "src/scss/common/files/mixins" as *;

.order-alert {
  background-color: var(--accent-color);
  background-image: url("../img/order-alert/bg.webp");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  @include size(padding-top, 128);
  @include size(margin-top, -20);
  @include size(padding-bottom, 128);
  @include border-radius(20, 20, 0, 0);
  .order-alert-inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @include size(gap, 24);
    .order-alert-item {
      @include padding(10);
      @include size(gap, 24);
      @include border-radius(20);
      @include grid-columns(314, 308);
      background: var(--white-color);
      justify-content: space-between;

      display: grid;
      .content {
        @include padding(38, 0, 38, 38);
        span {
          @include body-m;
          color: var(--txt-gray-color);
        }
        .text {
          @include size(padding-top, 48);
          @include size(margin-top, 20);
          border-top: 1px solid var(--line-color);
          p {
            @include size(margin-top, 16);
            @include body-m;
          }
        }
        .btn {
          @include size(margin-top, 60);
          @include size(height, 46);
          @include body-mb;
        }
      }
      .image-block {
        @include border-radius(12);
        background: var(--back-color);
        overflow: hidden;
        position: relative;
        .image-wrapper {
          @include border-radius(20);
          overflow: hidden;

          position: absolute;
          @include size(width, 445);
          @include size(height, 315);
          @include size(left, 60);
          top: 0;
          bottom: 0;
          margin: auto;
          border: 10px solid var(--gray-color);
          img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
}
