mixin order-alert()
    .order-alert 
        .order-alert-inner.container
            .order-alert-item   
                .content 
                    span Птичкам экстравертам
                    .text 
                        h4 Сделать заявку <br>в один клик
                        p Текст поясняющий или раскрывающий преимущества такого варианта
                    button(data-modal-target='request-modal').btn.primary Заказать через менеджера
                .image-block 
                    .image-wrapper 
                        img(src="./img/order-alert/1.jpg", alt="alert")
            .order-alert-item   
                .content 
                    span Птичкам интровертам
                    .text 
                        h4 Заказать прямо на сайте
                        p Текст поясняющий или раскрывающий преимущества такого варианта
                    button.btn.primary Оформить заказ Online
                .image-block 
                    .image-wrapper 
                        img(src="./img/order-alert/2.jpg", alt="alert")