extends ./pug/templates/template.pug

block head 
  +head(["header", "mobile-menu","accordion-item", "crumbs", "article-content", "order-alert","article-card","badge","contacts", "selector", "footer", "orders-modal", "route-modal", "requisites-modal"])
block header 
    +header()
    +mobile-menu()
block content
    +crumbs({items: [{title: 'Полезная информация', href: 'info.html'},{title: 'Статьи', href: 'info.html'},{title: 'Печать брошюры', href: 'info'}]})
    +article-content()
    +order-alert()
    +contacts()
block footer 
    +footer()
block modals 
  +orders-modal()
  +route-modal()
  +requisites-modal()