extends ./pug/templates/template.pug

block head 
  +head(["header", "mobile-menu", "crumbs", "delivery-content", "delivery", "accordion-item","payment", "badge","contacts", "selector", "footer", "orders-modal", "route-modal", "requisites-modal", "appeal-modal"])
block header 
    +header()
    +mobile-menu()
block content
    +crumbs({items: [{title: 'Доставка и оплата', href: '#'}]})
    +delivery-content()
    +contacts()
block footer 
    +footer()
block modals 
  +orders-modal()
  +route-modal()
  +requisites-modal()
  +appeal-modal()