extends ./pug/templates/template.pug

block head 
  +head(["header", "footer"])
block header 
block content
  .container(style='display: flex; flex-direction: column; gap: 20px;')
    a(href="home.html" style="color: #000") Главная 
    a(href="home2.html" style="color: #000") Главная (мобилка вариант 2)
    a(href="home3.html" style="color: #000") Главная (мобилка вариант 3)
    a(href="production.html" style="color: #000") Производство 
    a(href="portfolio.html" style="color: #000") Портфолио 
    a(href="info.html" style="color: #000") Полезная информация 
    a(href="info-order.html" style="color: #000") Полезная информация (Как сделать заказ)
    a(href="info-templates.html" style="color: #000") Полезная информация (Шаблоны макетов)
    a(href="info-articles.html" style="color: #000") Полезная информация (Статьи)
    a(href="delivery.html" style="color: #000") Доставка и оплата 
    a(href="article.html" style="color: #000") Статья 
    a(href="catalog.html" style="color: #000") Каталог 
    a(href="category.html" style="color: #000") Категория продукции 
    a(href="cart.html" style="color: #000")  Корзина
    a(href="order-complete.html" style="color: #000")  Спасибо / Не заказывал
    a(href="order-complete-2.html" style="color: #000")  Спасибо / Ранее заказывал
    a(href="order-complete-3.html" style="color: #000")  Спасибо / Авторизован
block footer 
    