extends ./pug/templates/template.pug

block head 
  +head(["header", "mobile-menu","accordion-item", "crumbs", "badge", "info-content", "download-card", "article-card", "contacts", "selector", "footer", "orders-modal", "route-modal", "requisites-modal"])
block header 
    +header()
    +mobile-menu()
block content
    +crumbs({items: [{title: 'Полезная информация', href: '#'}]})
    +info-templates-content()
    +contacts()
block footer 
    +footer()
block modals 
  +portfolio-modal()
  +orders-modal()
  +route-modal()
  +requisites-modal()