extends ./pug/templates/template.pug

block head 
  +head(["header", "mobile-menu", "accordion-item","order-page", "crumbs", "badge", "popup", "orders","profile", "download-card", "article-card", "selector", "footer"])
block header 
    +header()
    +mobile-menu()
block content
    +crumbs({items: [{title: 'Профиль', href: '#'}]})
    +orders()
block footer 
    +footer()
    +popup()