extends ./pug/templates/template.pug

block head 
  +head(["header", "crumbs", "badge", "popup", "profile", "download-card", "article-card", "selector", "footer"])
block header 
    +header()
block content
    +crumbs({items: [{title: 'Профиль', href: '#'}]})
    +profile()
block footer 
    +footer()
    +popup()
    