@use "src/scss/common/files/mixins" as *;

.payment {
  @include size(padding-top, 128);
  .payment-inner {
    .title {
      @include h1;
    }
    .payment-content {
      @include size(margin-top, 36);
      @include size(gap, 24);
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      .payment-item {
        border: 1px solid var(--line-color);
        @include size(border-radius, 20);
        @include size(padding-top, 48);
        @include size(padding-left, 48);
        @include size(padding-right, 48);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include size(gap, 83);

        .payment-item-content {
          display: flex;
          flex-direction: column;
          @include size(gap, 10);
          span {
            @include h2;
            display: block;
            @include size(margin-top, 10);
          }
          p {
            @include body-m;
          }
        }
        .image-wrapper {
          width: 100%;
          @include size(height, 220);
          position: relative;
          overflow: hidden;
          img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
}
